.product-form {
    &-origin {
        @include media-breakpoint-up(md) {
            max-width: 50%;
        }

        #product_origin {
            @include origin-form('edit');
        }
    }

    &-types-usages {
        @extend .d-flex,
        .flex-wrap;

        .custom-control {
            @extend .py-1,
            .pr-1;

            flex: 0 1 50%;
        }
    }
}
