.form-search {
    &-origin {
        @include media-breakpoint-up(md) {
            max-width: 50%;
        }
    }

    #product_search_origin {
        @include origin-form();
    }

    @include media-breakpoint-down(md) {
        &-collapse {
            margin: 0;

            >label {
                margin: 15px -15px;
                padding: 1rem 1.5rem;
                border-top: 1px solid $grey-light;
                border-bottom: 1px solid $grey-light;
                display: block;
            }
        }
    }

    &-types-usages,
    &-types-shop {
        @extend .d-flex,
        .flex-wrap;

        .custom-control {
            @extend .py-1, .pr-1;

            flex: 0 1 50%;
        }
    }

    &-submit {
        @extend .border-top, .bg-white, .py-3, .row, .justify-content-center, .d-lg-none;

        @include media-breakpoint-down(md) {
            position: sticky;
            bottom: 0;
            z-index: $zindex-sticky;

            .btn {
                display: block;
                margin: 0 1rem;
                width: 100%;
            }
        }
    }
}
