.address-control {
    position: relative;

    .autocomplete-address {
        @extend .list-group;

        position: absolute;
        top: 20px;
        left: 0;
        width: 100%;
        z-index: $zindex-fixed;
        border: 1px solid $grey-light;
        border-top: 0;
        background: transparent;
        padding-top: 1.5rem;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;

        &.hide {
            display: none;
        }

        a {
            @extend .list-group-item, .list-group-item-action;

            border: 0;
            border-top: 1px solid $grey-light;
            cursor: pointer;

            &:first-child {
                border-radius: 0;
                border-top: 0;
            }
        }
    }
}
