a {
    transition: $default-transition;
    color: $text-color;

    &:hover,
    &:active,
    &:focus {
        outline: none;
    }

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }
}

.btn {
    @extend
        .text-uppercase,
        .px-4,
        .py-2;

    font-weight: 900;
    text-decoration: none !important;
    transition: $default-transition;

    &.btn-sm {
        border-radius: $border-radius;
    }

    &.btn-primary {
        color: $white;
        background: $primary;
        letter-spacing: 0.06rem;

        &:hover {
            background: darken($primary, 10);
        }
    }

    &.btn-secondary {
        color: $white;
        background: $secondary;
        letter-spacing: 0.06rem;

        &:hover {
            background: darken($secondary, 10);
        }
    }

    &.btn-white {
        background: $white;
        color: $tertiary;

        &:hover {
            background: $tertiary;
            color: $white;
        }
    }

    &.btn-outline-white {
        color: $white;
        border-color: $white;

        &:hover {
            background: $white;
            color: $tertiary;
        }
    }

    &.circle-icon {
        @extend .px-2;

        width: $input-height;
        height: $input-height;
    }
}

.cta {
    &.cta-usages {
        @extend .shadow-sm;

        // background: url('#{$imgPath}/usages-demo.jpg') no-repeat center center;
        background-color: $grey-light;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding-top: 6rem;
        display: block;
        color: $tertiary;
        font-size: 1.2rem;
        font-weight: 900;
        border-radius: .5rem;
        text-align: right;

        .cta-usages-name {
            background-color: $white;
            padding: 1rem;
            min-width: 45%;
            display: inline-block;
            margin-left: auto;
            border-bottom-right-radius: .5rem;

            i {
                margin-left: 1rem;
            }
        }

        &:hover {
            color: $primary;
        }
    }
}
