.filters-active {
    @extend .d-flex,
    .align-items-center,
    .mb-3;

    @include media-breakpoint-down(sm) {
        flex-direction: column;
        align-items: flex-start !important;
        overflow-x: auto;
    }

    >span {
        @extend .flex-shrink-0;
    }

    &-wrapper {
        @extend .d-flex,
        .flex-wrap,
        .ml-3;

        @include media-breakpoint-down(sm) {
            flex-wrap: nowrap !important;
            margin-left: 0 !important;
            white-space: nowrap;
        }

        .custom-control.button-style {
            .custom-control-label {
                background: $tertiary;
                color: $white;

                &:hover {
                    background: lighten($tertiary, 5);
                }

                .icon-close {
                    @extend .ml-2;

                    font-size: .75rem;
                }

                >i.icon-3_europe::before {
                    @extend .icon-ue;
                }

                >i.icon-2_france::before {
                    @extend .icon-france;
                }

                >i.icon-1_regional::before {
                    @extend .icon-region;
                }
            }
        }
    }
}
