#image-product {
    @extend .d-flex, .align-items-center, .justify-content-center;

    .image-product-selected {
        height: 8rem;
        width: 12rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.popup-image {
    position: fixed;
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    z-index: $zindex-modal;
    top: 0;
    left: 0;
    overflow-y: auto;
    color: $tertiary;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .2s ease-in-out;
    opacity: 0;

    &-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: $zindex-modal + 1;
        top: 0;
        left: 0;
        background-color: transparentize($black, .6);
    }

    &-wrapper {
        @extend .py-md-4, .px-md-3;

        width: 100%;
        max-width: 500px;
        height: 80%;
        background: $white;
        z-index: $zindex-modal+2;
        overflow-y: auto;
        overflow-x: hidden;

        @include media-breakpoint-down(md) {
            height: 100%;
        }
    }

    &.show {
        visibility: visible;
        opacity: 1;
        transition: opacity .2s ease-in-out;
    }

    &-header {

        &-title,
        h5 {
            font-weight: 900;
            font-size: 1rem;

            @include media-breakpoint-up(md) {
                font-size: 1.5rem;
            }
        }
    }

    &-body {
        &-img {
            @extend .my-2;

            height: 8rem;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            transition: $default-transition;

            &:hover {
                cursor: pointer;
                opacity: .8;
            }

            &.selected {
                border: 5px solid $primary;
            }

            div {
                bottom: 8px;
                text-align: center;
                opacity: 0.65;
                color: black;
                background-color: white;
                position: absolute;
                width: 97%
            }
        }
    }
}
