.leaflet-popup {
    &-content-wrapper {
        border: 1px solid $tertiary;

        .leaflet-popup-content {
            //height: 140px;
            h6 {
                @extend .text-uppercase, .mb-3;
                font-weight: 900;
            }

            p {
                margin: 0;

                &.opening {
                    @extend .mt-1;
                }
            }

            >div {
                @extend .d-flex;

                >i {
                    @extend .mr-1;
                }
            }

            .btn {
                @extend .mt-2;
                color: $primary;
            }
        }
    }

    &-tip-container {
        background: url('#{$imgPath}/marker-selected.svg') no-repeat bottom center;
        bottom: -14px;
        height: 34px;

        .leaflet-popup-tip {
            display: none;
        }
    }
}
