.popup-signal {
    position: fixed;
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    z-index: $zindex-modal;
    top: 0;
    left: 0;
    overflow-y: auto;
    color: $tertiary;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .2s ease-in-out;
    opacity: 0;

    &-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: $zindex-modal + 1;
        top: 0;
        left: 0;
        background-color: transparentize($black, .6);
    }

    &-wrapper {
        @extend .py-md-4, .px-md-5;

        width: 100%;
        max-width: 500px;
        background: $white;
        z-index: $zindex-modal + 2;
    }

    &.show {
        visibility: visible;
        opacity: 1;
        transition: opacity .2s ease-in-out;
    }

    &-header {

        &-title,
        h5 {
            font-size: 2rem;
            font-weight: 900;
        }
    }

    &-body {
    }
}
