.slick-slider {
    .slick-arrow {
        background: transparent;
        border: 0;
        font-family: 'icon-abrac' !important;
        font-size: 2.5rem;
        width: 2.5rem;
        padding: 0;
        color: $tertiary;
        overflow: hidden;
        position: absolute;
        top: 30%;
        z-index: 1;
        outline: 0;

        &.slick-prev {
            @extend .icon-chevron-left;

            left: -2.5rem;
        }

        &.slick-next {
            @extend .icon-chevron-right;

            right: -2.5rem;
        }
    }
}
