<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="robots" content="{% block robots %}{% endblock %}">

        <title>{% block title %}Abracada'vrac{% endblock %}</title>

        <!-- FAVICON -->
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('dist/favicons/apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('dist/favicons/apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('dist/favicons/apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('dist/favicons/apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('dist/favicons/apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('dist/favicons/apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('dist/favicons/apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('dist/favicons/apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('dist/favicons/apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('dist/favicons/android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('dist/favicons/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('dist/favicons/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('dist/favicons/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('dist/favicons/manifest.json') }}">

        <meta name="msapplication-TileColor" content="#F27047">
        <meta name="theme-color" content="#F27047">

        <!-- Theme CSS -->
        {% block stylesheets %}
            {{ encore_entry_link_tags('css/theme') }}
        {% endblock %}
        <!-- Matomo -->
        <script type="text/javascript">
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//matomo.abracada-vrac.com/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
        })();
        </script>
        <!-- End Matomo Code -->
    </head>
    <body>

        {% block header %}
            {% include 'layout/_header.html.twig' %}
        {% endblock %}

        <div id="{% block page_id %}{% endblock %}">

            <div class="container-fluid">
                <div class="row">
                    <div class="col px-0">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>

        </div>

        {% block footer %}
            {% include 'layout/_footer.html.twig' %}
        {% endblock %}

        <div id="overlay"></div>

        {% block javascripts %}
            <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
            {{ encore_entry_script_tags('js/theme') }}
        {% endblock %}
    </body>
</html>
