{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_id %}edit-product{% endblock %}

{% block content %}

<div class="container py-4">

    <h1>{{ shop.name }}</h1>
    <p>Création de produit </p>

    {% include 'product/_partial/_edit-form.html.twig' with {'form': form, 'type': 'new'} %}

</div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var datas = {
            productImages: {{ productImages|raw }},
            productImagesPath: '{{ product_thumb_path }}',
            selectedCategory: {{ selectedCategory.id }},
        };
    </script>
    {{ parent() }}
{% endblock %}
