{% extends 'base.html.twig' %}

{% block robots %}noindex, nofollow{#gestion des robots uniquemet sur les pages de catégories et usages{% if denyRobots is defined and denyRobots %}noindex, nofollow{% endif %}#}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_id %}search-product{% endblock %}

{% block content %}

<div id="mobile-quick-search" class="d-lg-none sticky-top row m-0 border-bottom" v-bind:class="{'hidden-mobile': mobileMap}">
    <div class="col-auto">
        <div class="input-group icon">
            <input class="form-control" placeholder="Rechercher un produit..." :value="form_what" @change="syncFormWhat" v-on:keyup.enter="search">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" @click.prevent="search"><i class="icon-search"></i></button>
            </div>
        </div>
    </div>
    <div class="col-auto">
        <a class="open-filter" @click.prevent="filterShowing = 'show'"><i class="icon-filter"></i></a>
    </div>
</div>

<div id="search-wrapper" class="container-fluid p-0" :class="[{ 'set-top': scrollTop }, filterShowing]">
    <div class="container">
        <div class="d-flex justify-content-between d-lg-none py-3">
            <h2 class="text-primary">Rechercher</h2>
            <a class="text-primary" @click.prevent="filterShowing = ''"><i class="icon-close"></i></a>
        </div>
        {% include 'product/_partial/_search-form.html.twig' with searchForm %}
    </div>
</div>


{% if selectedType is defined %}
    <div class="container-fluid bg-tertiary text-white">
        <div class="container">
            <div class="d-flex align-items-center justify-content-start flex-column flex-md-row">
                <div class="hexagone-wrapper mr-md-5 text-center text-md-left">
                    <span class="hx-wrapper">
                        <span class="hx-hexagone">
                            <span class="hx-hexagone-inner"></span>
                        </span>
                        <img src="{{ asset('dist/img/' ~ selectedType.icon ~ '.svg') }}" class="img-fluid active"/>
                    </span>
                </div>
                <div class="py-md-4 text-center text-md-left">
                    <h1 class="text-white mb-3">{{ selectedType.name }}</h1>
                    <p>{{ selectedType.description }}</p>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if selectedUsage is defined %}
    <div class="container-fluid bg-tertiary text-white">
        <div class="container">
            <div class="d-flex align-items-center justify-content-start flex-column flex-md-row">
                <div class="hexagone-wrapper mr-md-5 text-center text-md-left">
                    <span class="hx-wrapper">
                        <span class="hx-hexagone">
                            <span class="hx-hexagone-inner">
                                <span class="hx-hexagone-inner-background" style="background-image: url({{ vich_uploader_asset(selectedUsage, 'exagonImageFile') }})"></span>
                            </span>
                        </span>
                    </span>
                </div>
                <div class="py-md-4 text-center text-md-left">
                    <h1 class="text-white mb-3">{{ selectedUsage.name }}</h1>
                    <p>{{ selectedUsage.description }}</p>
                </div>
            </div>
        </div>
    </div>
{% endif %}
<div class="container-fluid">

    <div class="row" v-bind:class="{'show-map': mobileMap, 'show-list': mobileList}" v-cloak>
        <div class="col-lg-6" v-if="!searchInProgress">
            <div class="row mt-4" v-bind:class="{'hidden-mobile': mobileMap}">
                <div class="col-12 filters-active" v-if="activeFilters && activeFilters.length > 0">
                    <span>Mes filtres actifs</span>
                    <div class="filters-active-wrapper">
                        <div class="custom-control custom-checkbox button-style" v-for="filter in activeFilters" >
                            <label class="custom-control-label" v-on:click.prevent="deleteActiveFilter(filter[0], filter[1])" v-html="filter[2] + '<i class=\'icon-close\'></i>'"></label>
                        </div>
                    </div>
                </div>
                <div v-if="nbrResultsTotal > 0" class="col-auto">
                    Résultats de <span v-if="startLimit == 0">1</span><span v-else>${startLimit}</span> à ${startLimit + nbrResults} sur ${nbrResultsTotal}
                </div>
                <div v-else class="col-auto">
                    Aucun résultat
                </div>
                <div class="col-auto ml-auto">
                    <div class="dropdown">
                        <a class="text-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Trier <i class="icon-chevron-down"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" v-if="from != null" href="#" @click.prevent="sort('distance')">Distance</a>
                            <a class="dropdown-item" href="#" @click.prevent="sort('price')">Prix</a>
                            <a class="dropdown-item" href="#" @click.prevent="sort('name')">Nom</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-list row px-3" v-bind:class="{'hidden-mobile': mobileMap}">
                {% include 'product/_partial/_product-item.html.twig' %}
            </div>
            <div v-if="totalPageNumber > 0" class="d-flex justify-content-center align-items-center py-4 px-3" v-bind:class="{'hidden-mobile': mobileMap}">
                <a href="#" class="btn btn-outline-primary circle-icon" v-if="startLimit > 0" @click.prevent="prevResults()"><i class="icon-chevron-left"></i></a>
                <div class="text-center text-uppercase font-weight-bold py-2 mx-4">Page ${ currentPage } / ${ totalPageNumber }</div>
                <a href="#" class="btn btn-outline-primary circle-icon" v-if="startLimit + nbrResults < nbrResultsTotal" @click.prevent="nextResults()"><i class="icon-chevron-right"></i></a>
            </div>
            <div class="popup-product-list side">
                {% include 'product/_partial/_popup-product-item.html.twig' %}
            </div>
        </div>
        <div class="col-lg-6" v-if="searchInProgress">
            <p class="text-center py-4">Recherche en cours</p>
            <div class="d-flex justify-content-center">
                <div class="spinner-grow text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        <div class="col-lg-6 px-0" v-bind:class="{'hidden-mobile': mobileList}">
            {#<span>Center: ${ center }</span><br />
            <span>Zoom: ${ zoom }</span><br />
            <span>Bounds: ${ bounds }</span>#}
            <div id="map" :class="{ 'set-top': scrollTop }">
                <l-map
                    :zoom="zoom"
                    {% if lat != null and lng != null %}:center="center"{% endif %}
                    @move="onMove"
                    ref="map">
                    <l-tilelayer url="http://{s}.tile.osm.org/{z}/{x}/{y}.png"></l-tilelayer>
                </l-map>
                <div class="find-btn text-center">
                    <a href="#" class="btn btn-white btn-sm shadow-sm" v-if="moved" @click.prevent="reloadAfterMove()">Rechercher dans cette zone</a>
                </div>
            </div>
            <div class="list-card-slick">
                <slick  ref="slick"
                        :options="slickOptions"
                        @afterChange="handleAfterChange">
                    {% include 'product/_partial/_product-item.html.twig' %}
                </slick>
            </div>
        </div>
    </div>

</div>

<!-- Icon List fixed -->
<div id="switch-list" class="icon-fixed" @click.prevent="switchShow(false)" v-if="mobileMap">
    <i class="icon-list"></i>
</div>

<!-- Icon Map fixed -->
<div id="switch-map" class="icon-fixed" @click.prevent="switchShow(true)" v-if="mobileList">
    <i class="icon-marker"></i>
</div>

<div class="popup-signal" :class="signalProductShowing ? 'show' : '' ">
    <div class="popup-signal-overlay"  @click.prevent="signalProductShowing = false"></div>
    <div class="popup-signal-wrapper d-flex flex-column">
        <div class="popup-signal-header p-3 py-lg-3 px-lg-4">
            <div class="popup-signal-header-title d-flex">
                <h5>Signalements</h5>
                <a class="ml-auto pl-2" href="#" @click.prevent="signalProductShowing = false"><i class="icon-close"></i></a>
            </div>
        </div>
        <div class="popup-signal-body px-3 px-lg-4 py-4">
            <form id="form_signalment">
                <div class="form-group">
                    <label class="font-weight-bold">Vous avez constaté une erreur de prix ?</label>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" value="" id="price" name="price" v-model="signalPrice">
                        <label class="custom-control-label text-uppercase text-primary" for="price">
                            Signaler une erreur de prix
                        </label>
                    </div>
                </div>
                <div class="form-group mt-4">
                    <label class="font-weight-bold">Il n'y a plus de stock ?</label>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" value="" id="stock" name="stock" v-model="signalStock">
                        <label class="custom-control-label text-uppercase text-primary" for="stock">
                            Signaler une rupture de stock
                        </label>
                    </div>
                </div>
                <div class="form-group mt-4">
                    <label class="font-weight-bold">D'autres précisions</label>
                    <textarea id="description" name="description" class="form-control" placeholder="Prix constaté en magasin, estimation du retour de stock ..." v-model="signalDescription" :disabled="(signalPrice || signalStock)? false:'disabled'"></textarea>
                </div>
                <a id="bouton_signalement" class="btn btn-primary d-block" @click.prevent="signalError()" href="#">Envoyer</a>
                <p v-show="signalWarning" class="text-danger text-center mt-3 mb-0">Merci de cocher au moins une case</p>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var datas = {
            {% if from %}from: [{{lat}}, {{lng}}],{% endif %}
            {% if lat != null and lng != null %}center: [{{lat}}, {{lng}}],{% endif %}
            zoom: 14,
            startLimit: 0,
            showedNumber: {{ resultsNumber }},
            productList: {{ productList|raw }},
            totalNumber: {{ totalNumber }},
            what: "{{ searchForm.search.vars.value }}",
            productImagesPath: '{{ product_thumb_path }}',
        };
    </script>
    {{ parent() }}
{% endblock %}
