@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

@font-face {
    font-family: 'icon-abrac';
    src: url('#{$fontsPath}/icon-abrac.eot?9lsr5h');
    src: url('#{$fontsPath}/icon-abrac.eot?9lsr5h#iefix') format('embedded-opentype'),
        url('#{$fontsPath}/icon-abrac.ttf?9lsr5h') format('truetype'),
        url('#{$fontsPath}/icon-abrac.woff?9lsr5h') format('woff'),
        url('#{$fontsPath}/icon-abrac.svg?9lsr5h#icon-abrac') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
