[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icon-abrac' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-user::before {
    content: "\e91a";
}

.icon-danger::before {
    content: "\e917";
}

.icon-valid::before {
    content: "\e918";
}

.icon-list::before {
    content: "\e919";
}

.icon-chevron-left::before {
    content: "\e912";
}

.icon-chevron-right::before {
    content: "\e913";
}

.icon-chevron-down::before {
    content: "\e914";
}

.icon-slow-cosmetique::before {
    content: "\e915";
}

.icon-bleu-blanc-coeur::before {
    content: "\e916";
}

.icon-bio::before {
    content: "\e90d";
}

.icon-commerce-equitable::before {
    content: "\e90e";
}

.icon-territoire-protege::before {
    content: "\e90f";
}

.icon-sans-gluten::before {
    content: "\e910";
}

.icon-vegan::before {
    content: "\e911";
}

.icon-monde::before {
    content: "\e909";
}

.icon-region::before {
    content: "\e90a";
}

.icon-ue::before {
    content: "\e90b";
}

.icon-france::before {
    content: "\e90c";
}

.icon-close::before {
    content: "\e900";
}

.icon-close-bold::before {
    content: "\e91b";
}

.icon-filter::before {
    content: "\e901";
}

.icon-geoloc::before {
    content: "\e902";
}

.icon-burger::before {
    content: "\e903";
}

.icon-search::before {
    content: "\e904";
}

.icon-marker::before {
    content: "\e905";
}

.icon-dots::before {
    content: "\e906";
}

.icon-less::before {
    content: "\e907";
}

.icon-more::before {
    content: "\e908";
}

.icon-power-off::before {
    content: "\e91c";
}

.icon-edit::before {
    content: "\e91d";
  }
