$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1600px
);

// Basic Colors
$black: #000000;
$white: #FFFFFF;

// Colors
$primary: #F27047;
$secondary: #FA9D10;
$tertiary: #093C49;
$green_ok: #09C20F;

$grey: #A69E9E;
$grey-light: #EEEDED;

// Theme main colors
$theme-brand-primary: $primary;
$theme-brand-secondary: $secondary;
$text-color: $black;

$theme-colors: (
    'primary': $primary,
    'secondary': $secondary,
    'tertiary': $tertiary,
    'green_ok': $green_ok,
    'grey': $grey,
    'grey-light': $grey-light);

$enable-gradients: true;

// FONTS
$font-family: 'Lato', sans-serif;
$font-family-base: $font-family;
$headings-font-family: $font-family;

$enable-responsive-font-sizes: true;

// transition
$default-transition: all .2s ease;

// Image-Path
$fontsPath: '/dist/fonts';
$imgPath: '/dist/img';

// Border radius
$border-radius: 2rem;

// Shadow
$shadow-card: 0px 0px 4px rgba(0, 0, 0, 0.25);

// Menu Height (sticky parameter)
$menuHeightMobile: 40px;
$menuHeightDesktop: 67px;

// Filter Height
$filterHeightDesktop: 111px;

// Change padding top / bottom of input (and height)
$input-padding-y: .5rem
