#abracadaquoi {
    h1 {
        font-size: 2.9rem;
    }
    .tertiary {
        color: #FFFFFF;
    }
    .responsive {
        position: relative;
        padding: 23px 110px;
    }
    .img-responsive-bocal-pois-fond-blanc.tablette {
        display: none;
    }
    .img-responsive {
        position: absolute;
        top: -110px;
        right: 10px;
    }
    .img-responsive.mobile {
        display: none;
    }

    .welcome-responsive {
        display: block;

    }
    .welcome-responsive.mobile {
        display: none;

    }

    @media only screen and (min-width: 1025px) {
        .img-mask-responsive {
            position: absolute;
            top: -23px;
            left: 239px;
        }
        .img-mask-responsive.tablette {
            display: none;
        }
    }

    @media only screen and (min-width: 751px) and (max-device-width:1024px) {
        .responsive {
            position: relative;
            padding: 0 10px;
        }
        .img-responsive-bocal-pois-fond-blanc {
            display: none;
        }
        .img-responsive-bocal-pois-fond-blanc.tablette {
            margin-top: 110px;
            display: block;
        }
        .img-mask-responsive.tablette {
            position: absolute;
            top: -23px;
            left: 120px;
        }

        .mask-responsive{
            padding-top: 0px;
        }
        .img-mask-responsive.mobile {
            display: none;
        }

        .img-responsive {
            display: none;

        }
        .img-responsive.mobile {
            display: block;
            width: 88%;

        }
        .welcome-responsive {
            display: none;

        }
        .welcome-responsive.mobile {
            display: block;

        }
        .rightCol{
            padding: 0px 10px;
            padding-top: 14px;
        }
    }

    
    @media only screen and (min-width: 481px) and (max-width: 750px) {
        .img-responsive-bocal-pois-fond-blanc {
            display: none;
        }


        .img-responsive-bocal-pois-fond-blanc.tablette {
            display: none;
        }
       
        .img-responsive {
            display: none;
        }
        .img-responsive.mobile {
            display: none;
        }

        .mask-responsive{
            padding-top: 0px;
        }
        .img-mask-responsive {
            display: none;
        }
        .img-mask-responsive.tablette {
            display: none;
        }
        .img-mask-responsive.mobile {
            display: block;
            position: absolute;
            top: 40px;
            left: 210px;
        }
        .welcome-responsive {
            display: none;
        }
        .welcome-responsive.mobile {
            display: block;
        }
        
    }

   

    @media only screen and (max-device-width: 480px) {
        .responsive {
            position: relative;
            padding: 0 10px;
        }

        .img-responsive-bocal-pois-fond-blanc {
            display: none;
        }

        .img-responsive-bocal-pois-fond-blanc.tablette {
            display: none;
        }
        .img-mask-responsive {
            display: none;
        }

        .img-mask-responsive.tablette {
            display: none;
        }
        .img-mask-responsive.mobile {
            display: block;
            position: absolute;
            top: 18px;
            left: 210px;
        }

        .welcome-responsive-text{
            padding-left:20px;
        }

        .welcome-responsive {
            display: none;
        }

        .welcome-responsive.mobile {
            display: block;
        }
       
        .img-responsive {
            display: none;

        }
        .img-responsive.mobile {
            display: block;
            left: 72px;
        }
        .rightCol{
            padding: 0px 10px;
            padding-top: 55px;
        }
    }
   
}