#choices {
    h1 {
        font-size: 2.9rem;
    }
    .tertiary {
        color: #FFFFFF;
    }
    .responsive {
        position: relative;
        padding: 0 110px;
    }
    .img-responsive-bocal-pois-fond-blanc.tablette {
        display: none;
    }
   

    .welcome-responsive {
        display: block;

    }
    .welcome-responsive.mobile {
        display: none;
    }

   

    @media only screen and (min-width: 1201px) {
        .img-responsive {
            position: absolute;
            top: -110px;
            right: -10px;
        }

        .img-responsive.mobile {
            display: none;
        }
        .img-responsive-tablette {
           display: none;
        }

        .mask-responsive{
            padding-top: 0px;
            min-height: 106px;
        }

        .img-mask-responsive {
            position: absolute;
            top: -22px;
            left: 700px;
        }
        .img-mask-responsive.tablette {
            display: none;
        }

        .responsive-brosse{
            width:100%;
            padding: 0px;
        }

        .img-responsive-brosse {
            display: block;
            width: 100%;
        }
    
        .img-responsive-brosse.mobile {
            display: none;
        }

        .img-responsive-open-mobile {
            display: none;
        }
        .img-responsive-open {
            display: inline-block;
        }

        .img-responsive-zero-dechet.vector{
            padding-left: 65px;
        }

        .boutique {
            margin-top: 43px;
        }

        .img-responsive.mobile {
            display: none;
        }
    }

    @media only screen and (min-width: 1000px) and (max-width:1200px) {
        .img-responsive {
            display: none;
        }

        .img-responsive-tablette {
            position: absolute;
            top: -130px;
            right: -10px;
        }

        .img-responsive.mobile {
            display: none;
        }
        .img-mask-responsive {
            position: absolute;
            top: 0px;
            left: 570px;
        }
        .img-mask-responsive.tablette {
            display: none;
        }

        .mask-responsive{
            padding-top: 0px;
            min-height: 128px;
        }


        .responsive-brosse{
            width:100%;
            padding: 0px;
        }

        .img-responsive-brosse {
            display: block;
            width: 100%;
        }
    
        .img-responsive-brosse.mobile {
            display: none;
        }

        .img-responsive-zero-dechet.vector{
            padding-left: 65px;
        }

        .img-responsive-open-mobile {
            display: none;
        }
        .img-responsive-open {
            display: inline-block;
        }

        .boutique {
            margin-top: 43px;
        }
    }

   

    @media only screen and (min-width: 752px) and (max-width:999px) {
        .responsive {
            position: relative;
            padding: 0 10px;
        }

        .img-responsive-bocal-pois-fond-blanc {
            display: none;
        }
        .img-responsive-bocal-pois-fond-blanc.tablette {
            margin-top: 110px;
            display: block;
        }
        .img-mask-responsive.tablette {
            position: absolute;
            top: -22px;
            left: 521px;
        }

        .img-mask-responsive.mobile {
            display: none;
        }

        .img-mask-responsive {
            position: absolute;
            top: 0px;
            left: 570px;
        }

        .mask-responsive{
            padding-top: 0px;
            min-height: 106px;
        }

       

        .img-responsive {
            display: none;
        }

        .img-responsive-tablette {
           display:none;
        }

        .img-responsive.mobile {
            display: block;
            width: 88%;
        }
        .welcome-responsive {
            display: none;

        }
        .welcome-responsive.mobile {
            display: block;

        }

        .welcome-responsive-text {
            text-align: justify;
            width: 75%;
            margin-top: 0px;
        }

        .img-responsive-brosse {
            display: none;
        }

        .img-responsive-brosse.mobile {
            display: block;
            width: 100%;
        }

        .responsive-brosse {
            padding: 0px;
        }

        .img-responsive-open-mobile {
            display: inline-block;
        }
        .img-responsive-open {
            display: none;
        }

        .rightCol{
            padding: 0px 10px;
            padding-top: 14px;
        }
    }

    @media only screen and (min-width: 751px) and (max-width:800px) {
        .img-responsive.mobile {
            display: block;
            width: 60%;
        }

        .img-responsive-tablette {
            display:none;
        }

        .img-mask-responsive.tablette {
            position: absolute;
            top: 3px;
            left: 422px;
        }

        .mask-responsive{
            padding-top: 0px;
            min-height: 130px;
        }

        .img-mask-responsive.mobile {
            display: none;
        }


        .welcome-responsive-text {
            text-align: justify;
            width: 75%;
            margin-top: 0px;
        }

    }

    
    @media only screen and (min-width: 481px) and (max-width: 750px) {
        .img-responsive-bocal-pois-fond-blanc {
            display: none;
        }


        .img-responsive-bocal-pois-fond-blanc.tablette {
            display: none;
        }
       
        .img-responsive {
            display: none;
        }
        .img-responsive.mobile {
            display: none;
        }

        .img-responsive-tablette {
            display:none;
        }

        .mask-responsive{
            padding-top: 0px;
        }
        .img-mask-responsive {
            display: none;
        }
        .img-mask-responsive.tablette {
            display: none;
        }
        .img-mask-responsive.mobile {
            display: block;
            position: absolute;
            top: 38px;
            left: 300px;
        }

        .welcome-responsive-text {
            text-align: justify;
            width: 90%;
            margin: 13px 0;
            font-size: 13px;
        }

        .welcome-responsive {
            display: none;
        }
        .welcome-responsive.mobile {
            display: block;
        }

        .responsive-brosse {
            padding: 0px;
        }

        .img-responsive-brosse {
            display: none;
        }

        .img-responsive-open-mobile {
            display: inline-block;
        }
        .img-responsive-open {
            display: none;
        }

        .img-responsive-brosse.mobile {
            display: block;
            width: 100%;
        }

        .img-responsive-zero-dechet.vector{
            padding-left: 25px;
        }
        
    }

   

    @media only screen and (max-device-width: 480px) {
        .responsive {
            position: relative;
            padding: 0 10px;
            margin-top: 64px;
        }

        .img-responsive-tablette {
            display:none;
        }

        .mask-responsive{
            padding-top: 0px;
        }

        .container-fluid block {
            margin-top: 64px;
        }

        .boutique {
            margin-top: 0px;
        }

        .img-responsive-bocal-pois-fond-blanc {
            display: none;
        }

        .img-responsive-bocal-pois-fond-blanc.tablette {
            display: none;
        }
        .img-mask-responsive {
            display: none;
        }

        

        .img-mask-responsive.tablette {
            display: none;
        }

    
        .img-mask-responsive.mobile {
            display: block;
            position: absolute;
            top: 114px;
            left: 191px;
            
        }

        .brosse-a-dents-bois{
            width: 100%;
        }
        
        .welcome-responsive {
            display: none;
        }

        .welcome-responsive.mobile {
            display: block;
        }

        .welcome-responsive-text {
            text-align: justify;
            width: 75%;
            margin: 22px 0;
        }
       
        .img-responsive {
            display: none;
        }

        .img-responsive {
            position: absolute;
            top: -176px;
            right: 54px;
        }
        .img-responsive.mobile {
            display: block;
        }

        .img-responsive-brosse {
            display: none;
        }

        .img-responsive-brosse.mobile {
            display: block;
            width: 100%;
        }

        .responsive-brosse {
            padding: 0px;
        }

        .img-responsive-open-mobile {
            display: inline-block;
        }
        .img-responsive-open {
            display: none;
        }

        .mission {
            padding: 23px 0 27px;
        }

        .rightCol{
            padding: 0px 10px;
            padding-top: 88px;
        }

        .img-responsive-zero-dechet.vector{
            padding-left: 25px;
        }
    }

    @media only screen and (max-device-width: 350px) {
        .img-mask-responsive.mobile {
            display: block;
            position: absolute;
            top: 86px;
            left: 130px;
            
        }

        .mask-responsive{
            padding-top: 0px;
        }

        .img-responsive-open-mobile {
            display: inline-block;
        }
        .img-responsive-open {
            display: none;
        }
    }
   
}