#collector-home {
    .slick-slider {
        .slick-arrow {
            color: $white;

            &.slick-prev {
                left: 0;
            }

            &.slick-next {
                right: 0;
            }
        }
    }

    @include product-item('list');

    .card {
        color: $black;

        &-body {
            @extend .text-center;

            height: auto !important;

            .badge {
                font-size: 1.5rem;
            }
        }
    }
}
