#contact {
    h1 {
        font-size: 2.9rem;
    }
    .form-responsive {
        position: absolute;
        z-index:1;  
    }
    .contact-submit {
        text-align: left;
        button {
            width: 60%;
        }
    }
    .img-responsive.mobile {
        display: none;
    }
    .welcome-responsive {
        display: block;

    }
    .welcome-responsive.mobile {
        display: none;

    }
    @media only screen and (min-width: 1025px) {
        .img-mask-responsive {
            position: absolute;
            top: -23px;
            left: 239px;
        }
        .img-mask-responsive.tablette {
            display: none;
        }
    }
    @media only screen and (min-width: 751px) and (max-device-width:1024px) {
        .welcome-responsive {
            display: none;
    
        }
        .welcome-responsive.mobile {
            display: block;
    
        }
        .img-mask-responsive.tablette {
            position: absolute;
            top: -22px;
            left: 120px;
        }
        .mask-responsive{
            padding-top: 0px;
        }
        .img-mask-responsive.mobile {
            display: none;
        }
    }

    @media only screen and (min-width: 481px) and (max-width: 750px) {
        .mask-responsive{
            padding-top: 70px;
        }
        .img-mask-responsive {
            display: none;
        }
        .img-mask-responsive.tablette {
            display: none;
        }
        .img-mask-responsive.mobile {
            display: block;
            position: absolute;
            top: 40px;
            left: 310px;
        }
        .welcome-responsive {
            display: none;
        }

        .welcome-responsive-text{
            padding-left:77px;
        }

        .welcome-responsive.mobile {
            display: block;
        }
        
    }
      
      @media only screen and (max-device-width: 480px) {
        .form-responsive {
            position: static;
            display: block;
            width: 100%;
        }
        .contact-submit {
            text-align: center;
            button {
                width: 100%;
            }
        }
  
        .img-mask-responsive {
            display: none;
        }

        .img-mask-responsive.tablette {
            display: none;
        }
        .img-mask-responsive.mobile {
            display: block;
            position: absolute;
            top: 18px;
            left: 210px;
        }

        .welcome-responsive {
            display: none;
        }

        .welcome-responsive.mobile {
            display: block;
        }

        .welcome-responsive-text{
            padding-left:20px;
        }
       
        .img-responsive {
            display: none;

        }
        .img-responsive.mobile {
            display: block;
            width: 100%;
        }
        .full-width-image img {
            width: 100%;
        }
      }
}