#home {
    .cta-shop-search {
        position: absolute;
        right: 0;
        width: 50vw;
        height: 100%;

        @include media-breakpoint-down(sm) {
            position: unset;
            width: 100%;
            display: block;
        }

        &-content {
            background: url('#{$imgPath}/cta-shop-search.jpg') no-repeat center center;
            background-size: cover;
            min-height: 200px;
        }
    }

    .slick-slider {
        .slick-list .slick-slide {
            .type {
                font-weight: 600;
            }
        }
    }
}
