#labels {
    h1 {
        font-size: 2.9rem;
    }
    .tertiary {
        color: #FFFFFF;
    }
    .responsive {
        position: relative;
        padding: 0 110px;
    }
    .img-responsive-bocal-pois-fond-blanc.tablette {
        display: none;
    }
   

    .welcome-responsive {
        display: block;

    }
    .welcome-responsive.mobile {
        display: none;
    }

    @media only screen and (min-width: 1301px){
        .img-responsive {
            position: absolute;
            top: -365px;
            right: -10px;
        }

        .img-responsive-tablette {
            display: none;
        }

        .img-responsive.mobile {
            display: none;
        }

        
        .mask-responsive{
            padding-top: 0px;
            min-height: 106px;
        }

        .img-mask-responsive {
            position: absolute;
            top: -22px;
            left: 250px;
        }
    } 


    @media only screen and (min-width: 1201px)  and (max-width:1300px) {
        .img-responsive {
            position: absolute;
            top: -365px;
            right: -40px;
        }

        .img-responsive-tablette {
            display: none;
        }

        .img-responsive.mobile {
            display: none;
        }

        
        .mask-responsive{
            padding-top: 0px;
            min-height: 106px;
        }

        .img-mask-responsive {
            position: absolute;
            top: -22px;
            left: 250px;
        }
    
    }

 

    @media only screen and (min-width: 1000px)  and (max-width:1200px) {
        .responsive {
            position: relative;
            padding: 0 10px;
        }

        .img-responsive-tablette {
            position: absolute;
            top: -200px;
            right: 32px;
        }

        .img-responsive {
            display: none;
        }

        .img-responsive.mobile {
            display: none;
        }
        .img-mask-responsive {
            position: absolute;
            top: -22px;
            left: 250px;
        }
        .img-mask-responsive.tablette {
            display: none;
        }

        .responsive-brosse{
            width:100%;
            padding: 0px;
        }

        .img-responsive-brosse {
            display: block;
            width: 100%;
        }
    
        .img-responsive-brosse.mobile {
            display: none;
        }

        .img-responsive-zero-dechet.vector{
            padding-left: 65px;
        }

        
        .mask-responsive{
            padding-top: 0px;
            min-height: 106px;
        }

        .boutique {
            margin-top: 43px;
        }
    }

    @media only screen and (min-width: 751px) and (max-width:999px) {
        .responsive {
            position: relative;
            padding: 0 10px;
        }

        .img-responsive-bocal-pois-fond-blanc {
            display: none;
        }
        .img-responsive-bocal-pois-fond-blanc.tablette {
            margin-top: 160px;
            display: block;
        }
        .img-mask-responsive.tablette {
            position: absolute;
            top: -22px;
            left: 130px;
        }

        .mask-responsive{
            padding-top: 0px;
            min-height: 106px;
        }
        .img-mask-responsive.mobile {
            display: none;
        }

        .img-responsive {
            display: none;
        }

        .img-responsive-tablette {
            display: none;
        }

        .img-responsive.mobile {
            display: block;
            width: 50%;
        }
        .welcome-responsive {
            display: none;

        }
        .welcome-responsive.mobile {
            display: block;

        }

        .welcome-responsive-text {
            text-align: justify;
            width: 75%;
            margin-top: -34px;
        }

        .img-responsive-brosse {
            display: none;
        }

        .img-responsive-brosse.mobile {
            display: block;
            width: 100%;
        }

        .responsive-brosse {
            padding: 0px;
        }

        .rightCol{
            padding: 0px 10px;
            padding-top: 14px;
        }
    }

    @media only screen and (min-width: 751px) and (max-width:800px) {
        .img-responsive.mobile {
            display: block;
            width: 60%;
        }

        .img-responsive-tablette {
            display: none;
        }
        .img-mask-responsive.tablette {
            position: absolute;
            top: -24px;
            left: 100px;
        }
    }

    
    @media only screen and (min-width: 481px) and (max-width: 750px) {
        .img-responsive-bocal-pois-fond-blanc {
            display: none;
        }


        .img-responsive-bocal-pois-fond-blanc.tablette {
            display: none;
        }
       
        .img-responsive {
            display: none;
        }

        .img-responsive-tablette {
            display: none;
        }

        .responsive {
            position: relative;
            padding: 0 65px;
        }
        .img-responsive.mobile {
            display: none;
        }

        .mask-responsive{
            padding-top: 31px;
        }
        .img-mask-responsive {
            display: none;
        }
        .img-mask-responsive.tablette {
            display: none;
        }
        .img-mask-responsive.mobile {
            display: block;
            position: absolute;
            top: 14px;
            left: 350px;
        }

        .welcome-responsive-text {
            text-align: justify;
            width: 75%;
            margin-top: -34px;
        }

        .welcome-responsive {
            display: none;
        }
        .welcome-responsive.mobile {
            display: block;
            min-height: 80px;
        }

        .responsive-brosse {
            padding: 0px;
        }

        .img-responsive-brosse {
            display: none;
        }

        .img-responsive-brosse.mobile {
            display: block;
            width: 100%;
        }

        .img-responsive-zero-dechet.vector{
            padding-left: 25px;
        }
        
    }

   

    @media only screen and (max-device-width: 480px) {
        .responsive {
            position: relative;
            padding: 0 10px;
            margin-top: 68px;
        }

        .img-responsive-tablette {
            display: none;
        }

        .container-fluid block {
            margin-top: 64px;
        }

        .boutique {
            margin-top: 0px;
        }

        .img-responsive-bocal-pois-fond-blanc {
            display: none;
        }

        .img-responsive-bocal-pois-fond-blanc.tablette {
            display: none;
        }
        .img-mask-responsive {
            display: none;
        }

        .img-mask-responsive.tablette {
            display: none;
        }
        .img-mask-responsive.mobile {
            display: block;
            position: absolute;
            top: 14px;
            left: 200px;
            
        }

        .brosse-a-dents-bois{
            width: 100%;
        }
        
        .welcome-responsive {
            display: none;
        }

        .welcome-responsive.mobile {
            display: block;
            min-height: 80px;
        }

        .welcome-responsive-text {
            text-align: justify;
            width: 75%;
            margin-top: -41px;
        }
       
        .img-responsive {
            display: none;
        }

        .img-responsive {
            position: absolute;
            top: -160px;
            right: 60px;
        }
        .img-responsive.mobile {
            display: block;
        }

        .img-responsive-brosse {
            display: none;
        }

        .img-responsive-brosse.mobile {
            display: block;
            width: 100%;
        }

        .responsive-brosse {
            padding: 0px;
        }

        .mission {
            padding-bottom: 45px;
        }

        .rightCol{
            padding: 0px 10px;
            padding-top: 88px;
        }

        .img-responsive-zero-dechet.vector{
            padding-left: 25px;
        }
    }

    @media only screen and (max-device-width: 350px) {
        .img-mask-responsive.mobile {
            display: block;
            position: absolute;
            top: 14px;
            left: 130px;
            
        }

        .img-responsive-tablette {
            display: none;
        }

        .welcome-responsive.mobile {
            display: block;
            min-height: 80px;
        }
    }
   
}