#login {
    .login-form {
        width: 100%;

        @include media-breakpoint-up(md) {
            width: 50%;
        }

        @include media-breakpoint-up(xl) {
            width: 35%;
        }
    }
}
