#search-product,
#search-shop {
    #mobile-quick-search {
        @extend .py-3;

        top: $menuHeightMobile;
        background-color: $white;

        .col-auto {
            flex: 1 0 auto;

            .open-filter {
                color: $primary;
                font-size: 1.6rem;
                display: block;
                text-align: center;
            }
        }
    }

    .dropdown {
        &-toggle {
            &::after {
                display: none;
            }
        }

        &-menu {
            border-radius: .25rem;
        }
    }

    @include media-breakpoint-down(lg) {
        .show-map {
            flex-direction: column-reverse;

            .product-list,
            .shop-list {
                flex-wrap: nowrap;
                overflow-y: auto;
                height: 35vh;
            }
        }
    }

    @include media-breakpoint-down(md) {
        .hidden-mobile {
            display: none !important;
        }
    }

    #map {
        @extend .sticky-top;

        width: 100%;
        height: calc(100vh - #{$filterHeightDesktop});
        z-index: $zindex-sticky - 1;
        top: $filterHeightDesktop;

        &.set-top {
            top: $menuHeightDesktop+$filterHeightDesktop;
            height: calc(100vh - (#{$menuHeightDesktop} + #{$filterHeightDesktop}));

            @include media-breakpoint-down(lg) {
                top: $menuHeightMobile+$filterHeightDesktop;
                height: calc(100vh - (#{$menuHeightMobile} + #{$filterHeightDesktop}));
            }
        }

        @include media-breakpoint-down(md) {
            height: calc(100vh - #{$menuHeightMobile}) !important;
        }

        .find-btn {
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 400;

            @include media-breakpoint-down(md) {
                a {
                    font-size: .8rem;
                }
            }
        }
    }

    .list-card-slick {
        display: block;
        position: absolute;
        bottom: 0;
        z-index: $zindex-sticky;
        width: 100%;

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }

    .icon-fixed {
        @extend .d-lg-none,
        .py-2,
        .px-3;

        background: $primary;
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        color: $white;
        font-size: 1.3rem;
        z-index: $zindex-sticky - 1 !important;

        &#switch-map {
            @extend .fixed-bottom;

            left: unset;
            bottom: 40px;
        }

        &#switch-list {
            @extend .fixed-top;

            left: unset;
            top: unset;
            bottom: 220px;
        }
    }

    #search-wrapper {
        @extend .border-bottom,
        .sticky-top;

        background-color: $white;
        transition: $default-transition;
        z-index: $zindex-sticky+2;
        top: 0;

        &.set-top {
            transition: $default-transition;
            top: $menuHeightDesktop;
            z-index: $zindex-sticky;

            @include media-breakpoint-down(lg) {
                top: $menuHeightMobile;
            }
        }

        @include media-breakpoint-up(lg) {
            &.open {
                position: fixed;
                height: 100vh;
                overflow-y: scroll;

                &.set-top {
                    height: calc(100vh - #{$menuHeightDesktop});
                }
            }
        }

        @include media-breakpoint-down(md) {
            position: fixed;
            height: 100vh;
            width: 100vw !important;
            top: 100vh !important;
            z-index: $zindex-tooltip !important;
            display: block !important;
            visibility: hidden;
            transition: top .3s ease-in-out,
                visibility 0s ease .3s;
            overflow-y: auto;
            border-bottom: 0 !important;

            &.show {
                visibility: visible;
                top: 0 !important;
                transition: top .3s ease-in-out;
            }
        }
    }

    .usages-img {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 25%;
    }
}

#search-shop {
    #mobile-quick-search {
        padding-bottom: 0.5rem !important;
        padding-top: 0.5rem !important;
        background-color: transparent;
        z-index: $zindex-sticky;
        opacity: 0;
        transition: $default-transition;

        &.visible {
            opacity: 1;
        }

        .btn {
            background-color: $white;
            border-color: transparent;
            color: $primary;

            i.icon-chevron-down {
                transform: rotate(180deg);
                display: block;
            }
        }
    }

    #search-wrapper {
        position: unset;
        height: unset;
        width: unset;
        display: block;
        visibility: visible;

        &.hidden-mobile {
            display: none !important;
        }
    }
}
