#shop-page {
    #map-shop {
        width: 100%;
        min-height: 200px;
    }

    .shop-name {
        @extend .d-flex, .flex-column, .flex-lg-row, .justify-content-start, .align-items-lg-center, .pt-4, .py-lg-4, .px-3, .px-lg-5, .mb-lg-3;

        position: relative;

        @include media-breakpoint-up(lg) {
            background-color: $grey-light;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: -50vw;
                width: 50vw;
                height: 100%;
                background-color: $grey-light;
                z-index: -1;
            }
        }

        @include media-breakpoint-down(md) {
            height: 100%;

            .btn {
                font-size: .8rem;
                text-transform: none !important;
                padding: 0.375rem 0.75rem !important;
                width: calc(100% + 30px);
                margin-left: -30px;
            }
        }
    }

    .time {
        @extend .d-flex, .pb-2;

        &-day {
            min-width: 50px;
            display: inline-block;
        }
    }

    #search-wrapper {
        @extend .sticky-top, .py-4;

        background-color: $white;
        top: $menuHeightDesktop;

        @include media-breakpoint-down(lg) {
            top: $menuHeightMobile;
        }

        &.open {
            position: fixed;
            height: 100vh;
            overflow-y: scroll;

            @include media-breakpoint-down(md) {
                height: calc(100vh - #{$menuHeightMobile});
            }
        }

        .form-search {
            @include media-breakpoint-down(sm) {
                .open-filter {
                    font-size: 1.6rem;
                    display: block;
                    text-align: center;
                }
            }

            @include media-breakpoint-up(sm) {
                .input-group.icon .form-control {
                    border-radius: $border-radius;
                }
            }
        }
    }

    .product-list {
        .collapse-product {
            @extend .py-3, .border-bottom, .d-flex, .justify-content-between, .align-items-center, .text-primary;

            >i {
                transition: $default-transition;
                transform: rotate(180deg);
            }

            &.collapsed {
                >i {
                    transform: rotate(0deg);
                }
            }

            h2 {
                @extend .text-primary,
                .text-uppercase,
                .m-0;

                font-weight: 900;
                letter-spacing: .24rem;
            }
        }
    }
}
