#abracadaquoi {
    .img1 {
        background: url('#{$imgPath}/bocaux-fond-blanc.svg') no-repeat center center;
        background-size: cover;
    }
    @media only screen and (max-device-width: 480px) {
        .img1 {
            display: none;
        }
    }
    .img2 {
        background: url('#{$imgPath}/bocal-pois.svg') no-repeat center center;
        background-size: cover;
        z-index: 1;
    }
}
#labels {
    .img1 {
        background: url('#{$imgPath}/cta-shop-search.jpg') no-repeat center center;
        background-size: cover;
    }
    .label-item {
        i {
            font-size: 2rem;
        }
    }
}
