<div id="footer" class="footer">
    <div class="footer-types bg-grey-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 separator-right">
                    <h3>Les catégories</h3>
                    <div class="row">
                        {% for type in globalProductsTypes %}
                            <div class="col-6 col-md-4"><a href="{{ path('search_product_by_category', {slug: type.slug}) }}">{{ type.name }}</a></div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-4">
                    <h3>Les usages</h3>
                    <div class="row">
                        {% for usage in globalProductsUsages %}
                            <div class="col-6 col-md-4"><a href="{{ path('search_product_by_usage', {slug: usage.slug}) }}">{{ usage.name }}</a></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-top container-fluid">
        <div class="container">
            <ul class="nav justify-content-between">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('static_page_sitemap') }}">Plan du site</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('static_page_show', {'slug': 'cgu'}) }}">CGU</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('contact_message') }}">Nous contacter</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom container-fluid">
        ©2021 Abracadavrac | Opensource
    </div>
</div>
