<div id="header" class="sticky-top">

    <div id="header-top">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between">

                <div class="logo">
                    <a href="{{ path('homepage') }}" title="Abracada'vrac - Page d'accueil" class="d-flex align-items-center">
                        <img src="{{ asset('dist/img/logo-icon.svg') }}" class="d-none d-xl-block img-fluid logo-icon">
                        <img src="{{ asset('dist/img/logo-noir.svg') }}" class="d-none d-xl-block img-fluid">
                        <img src="{{ asset('dist/img/logo-blanc.svg') }}" class="d-xl-none img-fluid">
                    </a>
                </div>

                <div id="header-sidebar">
                    <div id="overlay-nav"></div>
                    <div class="nav-wrapper">
                        <div class="d-flex d-xl-none justify-content-end">
                            <a id="close-nav"><i class="icon-close-bold"></i></a>
                        </div>
                        <ul id="nav-sidebar" class="nav justify-content-end">
                            <li class="nav-item">
                                <a class="nav-link {% if ('abracadaquoi' in app.request.pathInfo) %}active{% endif %}" href="#">Abracadaquoi?</a>
                                <ul class="nav-submenu nav flex-column">
                                    <li>
                                        <a href="{{ path('static_page_abracadaquoi') }}" class="{% if ('c-est-quoi-le-vrac' in app.request.pathInfo) %}active{% endif %}">C'est quoi le vrac ?</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('static_page_noschoix') }}" class="{% if ('nos-choix' in app.request.pathInfo) %}active{% endif %}">Nos choix</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('static_page_labels') }}" class="{% if ('les-labels' in app.request.pathInfo) %}active{% endif %}">Les labels</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if ('rechercher-un-produit' in app.request.pathInfo) %}active{% endif %}" href="{{ path('search_product') }}"><i class="icon-search"></i> Les produits</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if ('rechercher-un-magasin' in app.request.pathInfo) %}active{% endif %}" href="{{ path('search_shop') }}">Les magasins</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if ('participer-au-projet' in app.request.pathInfo) %}active{% endif %}" href="{{ path('contact_message') }}">Participer au projet</a>
                            </li>
                            <li class="nav-item menu-login">
                                <a class="nav-link" href="{{ path('collector_home')}}">
                                    <i class="icon-user"></i>
                                    Espace<br class="d-none d-xl-block"/> contribution
                                </a>
                            </li>
                            {% if is_granted("ROLE_ADMIN", app.user) or is_granted("ROLE_COLLECTOR", app.user) %}
                                <li class="nav-item menu-logout">
                                    <a class="nav-link" href="{{ path('logout')}}">
                                        <i class="icon-power-off"></i>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>

                {#<div class="menu-search ml-auto d-xl-none px-2">
                    <i class="icon-search"></i>
                </div>#}

                <div class="menu-burger d-xl-none">
                    <div id="vue-menu-burger"></div>
                </div>

            </div>
        </div>
    </div>

</div>
