{% if contactForm %}
<div class=" mt-md-1 mt-xs-1 mb-xs-6 bg-light p-5 form-responsive">
    {{ form_start(contactForm, {'attr': {'id': 'contact-form'}}) }}
        {{ form_label(contactForm.name, 'Nom') }}
        {{ form_widget(contactForm.name, {'attr': {'class': 'form-control mb-3  border-dark'}}) }}
        {{ form_label(contactForm.information, 'Adresse mail') }}
        {{ form_widget(contactForm.information, {'attr': {'class': 'form-control mb-3  border-dark'}}) }}
        {{ form_label(contactForm.text, 'Message') }}
        {{ form_widget(contactForm.text, {'attr': {'class': 'form-control mb-3 py-12  border-dark', 'rows': '11'}}) }}
        <div class="form-check ">
        {{ form_widget(contactForm.requirement, {'attr': {'class': 'form-check-input border-info'}}) }}
        {{ form_label(contactForm.requirement,   'J\'accepte que mes données soient collectées dans le but unique de pouvoir répondre à mon message') }}
        </div>
        <div class="d-none">
            {{ form_widget(contactForm.email, {'attr': {'class': 'form-control mb-3 py-12  border-dark', 'tabindex': '-1', 'autocomplete': 'off'}}) }}
        </div>
        <div class="col px-0 contact-submit">
            <button type="submit" class="btn btn-primary mx-auto">Envoyer</button>
        </div>
    {{ form_end(contactForm) }}
</div>
{% endif %}
