{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_id %}abracadaquoi{% endblock %}


{% block content %}
    <div class="container-fluid d-flex justify-content-center   py-5 responsive"  id="abracadaquoi">
        <div class="container row mb-3" >
                <div class="col-md-6 col-xs-12 my-5 py-2">
                <h1  class=" my-4 "  style="font-size: 2.9rem;">C'est quoi le vrac ?</h1>
                    <h2  class="mt-5">Le vrac, c'est nouveau pour vous?</h2>
                    <p class="mt-4  text-tertiary">
                    Si vous êtes ici et maintenant sur cette page c’est que vous avez décidé ou envisagé de changer votre consommation, et d’essayer de vous débarrasser des emballages qui accompagnent silencieusement notre société.<br>Bravo à vous ! <strong>Prendre conscience de tous les déchets que nous produisons est déjà un premier pas pour les réduire.</strong>
                    </p>
                </div>
                <div class="col-6">
                    <img src="{{ asset('dist/img/abracadavrac-photo5S.jpg')}}"  class="img-responsive-bocal-pois-fond-blanc"  alt="bocal-pois-fond-blanc">
                    <div class=" d-flex justify-content-center ">
                        <img src="{{ asset('dist/img/abracadavrac-photo5S-tablette.jpg')}}"   class="img-responsive-bocal-pois-fond-blanc tablette "  alt="bocal-pois-fond-blanc">
                    </div>
                </div>
        </div>
    </div>
    <div class=" container-fluid bg-tertiary  d-flex justify-content-center text-white   py-5 pt-2 pt-xs-6 responsive" id="abracadaquoi">
        <div class="container row   px-2 ">    
            <div class="col-xs-12  col-md-6 ">    
                <img src="{{ asset('dist/img/abracadavrac-photo1S.png')}}" class="img-responsive"  alt="bocal-pois">
                <div class=" d-flex justify-content-center mb-5 pb-5 ">
                        <img src="{{ asset('dist/img/abracadavrac-photo1S-mobile.png')}}"   class="img-responsive mobile"  alt="bocal-pois-mobile">
                </div>
            </div>
            <div class="col-xs-12  col-md-6  rightCol">
                <h2 class="tertiary pb-2">Mais l’aventure du vrac peut être rude !</h2>
                <p>Parfois même casse tête : <strong>Comment et où récupérer les produits ? Où trouver un produit spécifique ou simplement une épicerie vrac, avec un large choix de produits ? Est-ce que les produits en vrac sont bio ? Viennent-ils de France ?</strong> Tant de questions qui peuvent fatiguer l’esprit, là où la consommation en grande surface ne demande que peu de réflection.
                </p>
                <p>Mais pas de panique ! Avec le temps, l’expérience et les bons outils, les choses se simplifieront, et l’inquiétude et la fatigue que vous évoqueront les courses seront remplacées par l’entrain de changer vos habitudes de consommation et l’envie de réduire vos déchets.
                </p>
            </div>
        </div>
    </div>
        
    <div class="container-fluid  d-flex justify-content-center  px-0" >
        <div class="container row   col-xs-12   py-5 mt-4 mb-3 text-tertiary rightCol" >
            <div class="col-xs-12 offset-lg-6 col-lg-6 mb-4">
                <strong>En parlant d’outils, voici le nôtre, fièrement repris et développé par l’association Zéro Déchet Lyon et K2.0, qui vous permet de localiser n’importe quel produit en vrac partout dans la métropole de Lyon.</strong> Vous avez ici accès à un large panel de produits et d’enseignes à Lyon et ses alentours, permettant à la fois de trouver les produits les plus spécifiques, mais aussi de choisir avec soin ce que vous voulez pour votre consommation.
            </div>
        </div>
    </div>

    <div class="bg-secondary responsive mask-responsive" >
        <div class="row justify-content-end  ">
            <div class=" col-xs-12 col-md-6   col-md-offset-6 mt-4 my-4 py-2  text-tertiary">
                <div class="welcome-responsive">
                    <strong >Bienvenue dans l'Aventure Vrac !</strong>
                    <img src="{{ asset('dist/img/mask-group.png')}}" class="img-mask-responsive"  alt="mask-group">  
                </div>
                <div class="welcome-responsive  mobile">
                    <div class="welcome-responsive-text" ><strong >Bienvenue dans<br>l'Aventure Vrac !</strong></div>
                    <div class=" d-flex justify-content-center ">
                        <img src="{{  asset('dist/img/mask-group.png')}}"   class="img-mask-responsive tablette "  alt="mask-group">
                        <img src="{{  asset('dist/img/mask-group-mobile.png')}}"   class="img-mask-responsive mobile "  alt="mask-group">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
