{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_id %}labels{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-6 my-5 py-4 pl-4  text-tertiary"  id="labels">
                <h1  class=" my-4"  style="font-size: 2.9rem;">Les labels</h1>
                <h2  class="text-tertiary pb-2">Du vrac et puis c'est tout ?</h2>
                <p>Non bien sûr ! Le vrac est un élément parmi l'ensemble de ceux à observer pour se faire une idée de l'impact social et environnemental d'un produit.
                    Nous avons choisi d'afficher sous le nom "label" les informations données par le magasin sur les caractéristiques notables d'un produit: est-il par exemple vegan, bio ou encore issu d'une production éthique ?
                    Vous trouverez sur cette page des explications sur la signification de tous les labels qui peuvent apparaître.</p>

            </div>
            <div class="col-xs-0 col-lg-6"></div>
        </div>
    </div>
    <div class=" container-fluid bg-tertiary  d-flex justify-content-center text-white   py-5 pt-2 pt-xs-6 responsive block" id="labels">
        <div class="container row   px-2 ">
            <div class="col-xs-12  col-lg-6  rightCol">
                <div class=" d-flex justify-content-center    ">
                    <img src="{{ asset('dist/img/abracadavrac-photo3S-mobile.png')}}"   class="img-responsive mobile"  alt="bocal-pois-mobile">
                </div>
                <h2 class="tertiary pb-2"><i class="icon-bio"></i> Bio</h2>
                <p>Le label "Bio" est un label très large qui désigne les principaux labels de certification et de contrôle garantissant une agriculture biologique. Les critères de bases sont ceux retenus par le Label européen. Puis l'évolution et la rigueur évoluent selon les labels.
                </p>
                <a href="#" class="show_hide_bio text-secondary" data-content="toggle-text">Voir plus</a>
                <div class="bio mt-3">
                    <p>Le label <b>AB</b> garanti : sans pesticides et engrais chimiques de synthèse,sans traitements chimiques après récolte, pas de traces d’OGM au-delà des 0,9 % (admis en cas de contamination fortuite), au moins 95 % d’ingrédients issus de l’agriculture biologique dans les produits transformés. Enfin la mixité des productions bio et non bio est acceptée pour les agriculteurs si une distance de 10 mètres entre les cultures bio et non-bio est maintenue.</p>
                    <p>Le label <b>Bio Europe</b> garanti : les mêmes chose et en plus la provenance des produits de l'Union Européenne.</p>
                    <p>Le label <b>Nature et Progrès</b> garanti : une conversion totale de l’exploitation en bio,le respect des saisons pour les fruits et légumes, la non mixité totale des cultures bio et non bio, aucunes traces d’OGM et d’huile de palme dans ses produits, l'engagement des productions N & P de ne pas mettre en danger les plantes et les animaux, pas de ferme N & P à moins de 500 m de grandes voies routières ou en aval d’exploitations agricoles polluantes.</p>
                    <p>Le label <b>Bio Cohérence</b> garanti : des produits bio cultivés, produits et transformés sur le sol français, un bien-être humaniste qui exige que toutes les structures agricoles bio soient françaises et reçoivent un revenu équitable, la non mixité totale des cultures bio et non bio, des activités bio ou en conversion vers le bio pour les fermes et un seuil minimum de contamination par les OGM limité à 0,1%.</p>
                    <p>Le label <b>Demeter</b> garanti : l'utilisation de préparations naturelles spécifiques destinées à «vivifier» la terre, des produits issus d’exploitations certifiées AB et de l’exploitation biodynamique, l'interdiction totale des OGM et des produits chimiques pour préserver la qualité des sols et des végétaux, des produits transformés composés à 90 % d’ingrédients certifiés Demeter, et à 10 % restant certifiés bio et la réutilisation maximale des déchets végétaux.</p>
                    <p>Le label <b>Ecocert Équitable</b> garanti : la non mixité des productions bio et non bio, la certification du label bio européen pour tous les produits ESR, la transparence sur les critères sociaux, économiques et environnementaux, 5 % d'ingrédients d'origine équitable dans les produits cosmétiques, 25 % minimum d’ingrédients agricoles équitables dans les produits alimentaires.</p>

                    <p>- Organismes en charge :<br>
                        Agence Française pour le Développement et la Promotion de l'Agriculture Biologique (Agence Bio)<br>
                        La Fédération Nature & Progrès, ONG qui gère la mention grâce à une instance fédérale.<br>
                        Association de loi 1901 Bio cohérence (demande de certification par un organisme extérieur).<br>
                        Association international Demeter qui fédère et garantie garantir la qualité des contrôles et de la certification de la marque basée sur les principes de l’agriculture biodynamique. (Certification du label puis certification par des organismes extérieurs).<br>
                        Organisme de contrôle et de certification Ecocert
                    </p>
                    <p>- Sources : <br>
                        <a href="https://www.agencebio.org/" class="text-white">https://www.agencebio.org/</a><br>
                        <a href="https://www.natureetprogres.org/le-projet-associatif/" class="text-white">https://www.natureetprogres.org/le-projet-associatif/</a><br>
                        <a href="http://www.biocoherence.fr/bio-coherence/notre-association" class="text-white">http://www.biocoherence.fr/bio-coherence/notre-association</a><br>
                        <a href="https://www.demeter.fr/qui-sommes-nous/" class="text-white">https://www.demeter.fr/qui-sommes-nous/</a><br>
                        <a href="https://www.ecocert.com/fr/home" class="text-white">https://www.ecocert.com/fr/home</a>
                    </p>
                </div>
            </div>
            <div class="col-xs-12  col-md-6 ">
                <img src="{{ asset('dist/img/abracadavrac-photo3S.png')}}" class="img-responsive"  alt="bocal-pois">
                <img src="{{ asset('dist/img/abracadavrac-photo3S-tablette.png')}}" class="img-responsive-tablette"  alt="bocal-pois">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row my-5 px-1">
                <div class="col-lg-6 label-item d-flex  mt-5 pl-3 col-xs-12 ">
                        <div class="px-1">
                            <h2 class="pb-2"><i class="icon-territoire-protege"></i><span class="ml-4"> Territoire protégé</span></h2>

                                <p class="text-tertiary">Le label "Territoire protégé" désigne les deux appellations d'origine (AOC et AOP) ainsi que l'indication géographique protégée (IGP) et la spécialité traditionnelle garantie (STP).</p>
                                <a href="#" class="show_hide_protected_territory  text-secondary" data-content="toggle-text">Voir plus</a>
                                <div class="protected-territory mt-3 text-tertiary">
                                    <p>Voici leurs distinctions :<br>
                                    L’Appellation d’origine protégée (AOP) désigne un produit dont toutes les étapes de production sont réalisées selon un savoir-faire reconnu dans une même aire géographique, qui donne ses caractéristiques au produit. C’est un signe européen qui protège le nom du produit dans toute l’Union européenne.
                                    L’Appellation d’origine contrôlée (AOC) désigne des produits répondant aux critères de l’AOP et protège la dénomination sur le territoire français. Elle constitue une étape vers l’AOP, désormais signe européen. Elle peut aussi concerner des produits non couverts par la réglementation européenne (cas des produits de la forêt par exemple)
                                    L’IGP identifie un produit agricole, brut ou transformé, dont la qualité, la réputation ou d’autres caractéristiques sont liées à son origine géographique.
                                    La STG correspond à un produit dont les qualités spécifiques sont liées à une composition, des méthodes de fabrication ou de transformation fondées sur une tradition.</p>

                                    <p>Organismes en charge : Institut National de l'Origine et de la qualité (INAO)</p>

                                    <p>Sources : <a href="https://www.inao.gouv.fr/"  class="text-tertiary">https://www.inao.gouv.fr/</a></p>
                                </div>

                        </div>
                </div>
                <div class="col-lg-6 label-item d-flex  mt-5 pl-3 col-xs-12 ">
                    <div class="px-1 text-tertiary">
                        <h2 class="pb-2"><i class="icon-sans-gluten"></i><span class="ml-4"> Sans gluten</span></h2>
                            <p>
                                Pour avoir l'autorisation d’indiquer sans gluten, le produit doit avoir une teneur maximale de 20 mg/kg de gluten résiduel selon la réglementation de 2015. Le contrôle de la teneur doit être effectuée dans un laboratoire indépendant et un audit réalisé sur le(s) lieu(x) de fabrication des produits. Le contrôle et l'audit doivent être effectué au moins un fois par an.
                            </p>
                            <a href="#" class="show_hide_without_gluten  text-secondary" data-content="toggle-text">Voir plus</a>
                            <div class="without-gluten mt-3 text-tertiary">
                                <p>- Organismes en charge :<br>
                                AFDIAG (Association Française des Intolérants au Gluten)</p>
                                <p>- Sources :<br>
                                    <a href="https://www.biensdeconso.com/2016/04/11/zoom-sur-les-normes-et-labels-des-produits-sans-gluten/" class="text-tertiary">https://www.biensdeconso.com/2016/04/11/zoom-sur-les-normes-et-labels-des-produits-sans-gluten/</a><br>
                                    <a href="https://www.agro-media.fr/dossier/sans-gluten-labels-et-normes-pour-les-industriels-20690.html"  class="text-tertiary">https://www.agro-media.fr/dossier/sans-gluten-labels-et-normes-pour-les-industriels-20690.html</a>
                                </p>
                            </div>
                    </div>
                </div>
                <div class="col-lg-6 label-item d-flex  mt-5 pl-3 col-xs-12 ">
                    <div class="px-1 text-tertiary">
                        <h2 class="pb-2"><i class="icon-commerce-equitable"></i><span class="ml-4"> Commerce équitable</span></h2>
                        <p>
                            Les labels "Commerce équitable" ont pour principal objectif la bonne rémunération des producteurs tout en couvrant les coûts de production des produits, pour contrebalancer la baisse des prix du marché. Ils mettent l'humain au cœur de leur préoccupation en garantissant des conditions de travail décentes, l'interdiction de discrimination, le travail des enfants et le travail forcé en rendant accessible la traçabilité des produits.
                        </p>
                        <a href="#" class="show_hide_equity_trade text-secondary" data-content="toggle-text">Voir plus</a>
                        <div class="equity-trade text-tertiary mt-3">
                            <p>- Organismes en charge :<br>
                            Fairtrade Max Havelaar (branche du FLO)
                            WTFO</p>
                            <p>- Sources :<br>
                                <a href="https://www.maxhavelaar.ch/fr/quest-ce-que-fairtrade/les-standards-fairtrade.html"  class="text-tertiary">https://www.maxhavelaar.ch/fr/quest-ce-que-fairtrade/les-standards-fairtrade.html</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 label-item d-flex mt-5 pl-3 col-xs-12 ">
                    <div class="px-1 text-tertiary">
                        <h2 class="pb-2"><i class="icon-bleu-blanc-coeur"></i><span class="ml-4"> Bleu blanc coeur</span></h2>
                        <p>
                        Le label « Bleu Blanc Cœur » a pour but de garantir la qualité de la filière des produits bruts, dans les méthodes de transformations en passant la nutrition des animaux jusqu’à l’assiette en particulier sur les produits d’origine animale.
                        </p>
                        <a href="#" class="show_hide_blue_red_heart text-secondary" data-content="toggle-text">Voir plus</a>
                        <div class="blue-red-heart text-tertiary mt-3">
                            <p>Ce label s’appuie sur le triptyque santé de la Terre, des animaux et des hommes et est reconnu par les Ministères de l’agriculture et de la santé. L’objectif est de garantir la qualité nutritionnelle de l’alimentation humaine en diversifiant l’alimentation et respectant le bien-être des animaux. Le second objectif est de diminuer les produits chimiques de la filière en interdisant les additifs, limitant l’usage des antibiotiques aux animaux malades. Le troisième et dernier objectif a pour but de réduire l’empreinte carbone des produits finis en limitant les import d’aliments comme ceux du soja et en utilisant le plus possible les produits d’origine française et tracée.</p>
                            <p>- Organismes en charge :<br>
                                Association Bleu Blanc Coeur
                            </p>
                            <p>- Sources :<br>
                                <a href="https://produits.bleu-blanc-coeur.org/"  class="text-tertiary">https://produits.bleu-blanc-coeur.org/</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 label-item d-flex mt-5 pl-3 col-xs-12 ">
                    <div class="px-1 text-tertiary">
                        <h2 class="pb-2"><i class="icon-vegan"></i><span class="ml-4"> Végan</span></h2>
                            <p>
                            Les labels dit "Végan" réglementent tous les types de produits sur la non-exploitation de l'animal sur sa chaîne de fabrication. Le produit ne doit contenir aucun produit d'origine animale (chair animale, laitage, œuf, miel ni de produits de la ruche, fourrure, cuir, laine, soie, etc.) et de ne pas tester le produit sur des animaux (produits d’entretien, d'hygiène, etc.).
                            </p>
                            <a href="#" class="show_hide_vegan text-secondary" data-content="toggle-text">Voir plus</a>
                            <div class="vegan text-tertiary mt-3">
                                <p>- Organismes en charge :<br>
                                (Pour les collecteurs) Il y a peu de réglementation sur l'utilisation du label Végan. Il est important de ne désigner que les labels suivants car ils sont "officiels" et indépendant : http://vegan-labels.info/</p>
                                <p>- Sources :<br>
                                    <a href="https://www.vegan-france.fr/blog/certification-vegan/"  class="text-tertiary">https://www.vegan-france.fr/blog/certification-vegan/</a><br>
                                    <a href="http://vegan-labels.info/" class="text-tertiary">http://vegan-labels.info/</a><br>
                                    <a href="https://www.lesphytonautes.fr/certification-vegan-logo/" class="text-tertiary">https://www.lesphytonautes.fr/certification-vegan-logo/</a><br>
                                    <a href="http://generationcosmethique.com/le-label-vegan-en-cosmetique-kesako/" class="text-tertiary">http://generationcosmethique.com/le-label-vegan-en-cosmetique-kesako/</a>
                                </p>
                            </div>
                    </div>
                </div>
                <div class="col-lg-6 label-item d-flex mt-5 pl-3 col-xs-12 ">
                    <div class="px-1 text-tertiary">
                        <h2 class="pb-2"><i class="icon-slow-cosmetique"></i><span class="ml-4"> Slow cosmetique</span></h2>
                        <p>
                            La mention « Slow Cosmétique » est une récompense attribuée depuis 2013 pour des produits cosmétiques. Pour l’obtenir, le produit doit avoir le Label Bio, le Label Végan et le Label Fairtrade, utiliser des ingrédients naturels (végétaux et minéraux non polémiques), peu transformés et une formule respectueuse de la santé humaine (aucun perturbateur endocrinien, non irritant). Le produit doit soit respecter le Zéro Déchet soit inclure un emballage recyclable, en verre et plastiques écologiques inerte pour l’environnement.
                        </p>
                        <a href="#" class="show_hide_slow_cosmetic text-secondary" data-content="toggle-text">Voir plus</a>
                        <div class="slow-cosmetic text-tertiary mt-3">
                            <p>Ce label s’appuie sur le triptyque santé de la Terre, des animaux et des hommes et est reconnu par les Ministères de l’agriculture et de la santé. L’objectif est de garantir la qualité nutritionnelle de l’alimentation humaine en diversifiant l’alimentation et respectant le bien-être des animaux. Le second objectif est de diminuer les produits chimiques de la filière en interdisant les additifs, limitant l’usage des antibiotiques aux animaux malades. Le troisième et dernier objectif a pour but de réduire l’empreinte carbone des produits finis en limitant les import d’aliments comme ceux du soja et en utilisant le plus possible les produits d’origine française et tracée.</p>
                            <p>Pour plus de renseignement : <a href="https://www.slow-cosmetique.org/" class="text-tertiary">https://www.slow-cosmetique.org/</a></p>
                            <p>- Organismes en charge :<br>
                            Association Slow Cosmétique</p>

                            <p>- Sources :<br>
                                <a href="https://www.slow-cosmetique.org/wp-content/uploads/2019/10/charte-slow-cosmetique-2019.pdf" class="text-tertiary">https://www.slow-cosmetique.org/wp-content/uploads/2019/10/charte-slow-cosmetique-2019.pdf</a><br>
                                <a href="https://www.slow-cosmetique.org/la-mention-slow-cosmetique/criteres-et-methodologie-mention-slow-cosmetique/" class="text-tertiary">https://www.slow-cosmetique.org/la-mention-slow-cosmetique/criteres-et-methodologie-mention-slow-cosmetique/</a>
                            </p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="bg-secondary responsive mask-responsive" >
        <div class="row justify-content-end  ">
            <div class=" col-xs-12 col-md-6  col-xs-offset-0 col-md-offset-6 mt-4    text-tertiary">
                <div class="welcome-responsive">
                    <strong >Bienvenue dans l'Aventure Vrac !</strong>
                    <img src="{{ asset('dist/img/mask-group.png')}}" class="img-mask-responsive"  alt="mask-group">
                </div>
                <div class="welcome-responsive  mobile">
                    <strong >Bienvenue dans<br>l'Aventure Vrac !</strong>
                    <div class=" d-flex justify-content-center ">
                        <img src="{{  asset('dist/img/mask-group.png')}}"   class="img-mask-responsive tablette "  alt="mask-group">
                        <img src="{{  asset('dist/img/mask-group-mobile.png')}}"   class="img-mask-responsive mobile "  alt="mask-group">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
