{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_id %}nos choix{% endblock %}


{% block content %}
<div class="container-fluid d-flex justify-content-center   py-5 responsive"  id="choices">
    <div class="container mb-3 pb-5">
             <h1 class=" my-5 "  style="font-size: 2.9rem;">Nos choix pour le projet</h1>
             <div class="row">
                <div class="col-md-6 col-xs-12 ">
                    <strong>Le projet Abracada’vrac est porté par l’association Zéro Déchet Lyon en collaboration avec l’entreprise de développement Web K2.0.</strong> À ce titre plusieurs choix ont été faits dans la réalisation de cette première version du site.
                    <div class="row mt-3">
                        <div class=" col-xs-9 ">
                            <img src="{{ asset('dist/img/logo-zero-dechet.png')}}" class="img-responsive-zero-dechet"  alt="logo-zero-dechet">
                        </div>
                        <div class="col-xs-3">
                            <img src="{{ asset('dist/img/vector.png')}}" class="img-responsive-zero-dechet vector"  alt="vector">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 mission">
                    <strong>La mission de Zéro Déchet Lyon est de diffuser la démarche Zero Waste, ceci tant parmi les citoyens qu’au niveau des collectivités territoriales.</strong> Afin d’adresser un public le plus large possible, Abracada’vrac a été pensé pour répondre prioritairement aux besoins des personnes qui veulent commencer à faire des courses en vrac, à savoir : trouver un équivalent vrac à ses courses habituelles ou encore avoir une idée du prix nécessaire.
                </div>
            </div>
            <div class="col-6 img1"></div>
        </div>
</div>
    <div class=" container-fluid bg-tertiary  d-flex justify-content-center text-white   py-5 pt-2 pt-xs-6 responsive block" id="choices">
        <div class="container row   px-2 ">    
            <div class="col-xs-12  col-lg-6  rightCol">
                <div class=" d-flex justify-content-center    ">
                    <img src="{{ asset('dist/img/abracadavrac-photo2S-mobile.png')}}"   class="img-responsive mobile"  alt="bocal-pois-mobile">
                </div>
                <h2 class="tertiary pb-2">Commencer à faire des courses en vrac</h2>
                <p>À nos yeux, le vrac est UN élément parmi une multitude de facteurs influençant la qualité d’un produit en termes d’impact social et environnemental. C’est donc pour vous laisser la libre appréciation du rapport qualité / prix que nous rendons disponibles, quand l’information est présente en magasin, le prix, l’origine géographique ainsi que les différents labels (lien) d’un produit. 

                    
                </p>
                <p><strong>Prenons un exemple fictif :</strong></p>
                <p>
                    L’épicerie Alphadu vend des coquillettes bio à 2,50€/kg et l’épicerie Centaure vend des coquillettes bio à 3€/kg. La différence de prix pourrait alors s’expliquer à travers les informations complémentaires disponibles sur la fiche du produit, où figure que les deuxièmes coquillettes sont fabriquées par un ensemble de petits exploitants italiens en permaculture.<br>
                    Vous pourrez ainsi faire vos courses selon une multitudes de critères différents, certains privilégiant le prix, tandis que d’autres préféreront le commerce équitable ou encore le caractère local.
                </p>
            </div>
            <div class="col-xs-0  col-lg-6 ">    
                <img src="{{ asset('dist/img/abracadavrac-photo2S.png')}}" class="img-responsive"  alt="bocal-pois">
                <img src="{{ asset('dist/img/abracadavrac-photo2S-tablette.png')}}" class="img-responsive-tablette"  alt="bocal-pois">
            </div>
        </div>
    </div>
    <div class="container-fluid d-flex justify-content-center   responsive" id="choices">
        <div class="container mb-3 boutique" >
                 <h2 class=" my-5 ">Nos choix des boutiques et produits référencés</h2>
                 <div class="row">
                    <div class="col-md-6 col-xs-12 bg-grey-light responsive-brosse">
                        <img src="{{ asset('dist/img/brosse-a-dents-bois.png')}}" class="img-responsive-brosse"  alt="brosse-a-dents-bois">
                        <img src="{{ asset('dist/img/brosse-a-dents-bois-mobile.png')}}" class="img-responsive-brosse mobile"  alt="brosse-a-dents-bois">
                        <div class="bg-grey-light p-3 ">
                            <h3><img src="{{ asset('dist/img/ticOk.png')}}" class="img-responsive-icon"  alt="ok-icone"><strong> Accessoires du zéro déchet</strong></h3>
                            <p>Nous vous proposons aussi de trouver des accessoires du zéro déchet quand ils sont disponibles chez les commerçants recensés. Vous y verrez alors les gourdes, les pailles ou encore les coupes menstruelles. Un tel accessoire ne pourra être présenté avec un emballage que s’il n’existe pas sans. Ces produits sont recensés malgré leur emballage car leur utilisation répétée permet de préserver les ressources de notre planète. Par exemple une paille en inox pourra servir indéfiniment et remplacer son équivalent en plastique à usage, s’il a lieu, trop souvent unique.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 ">
                        <h3><img src="{{ asset('dist/img/non.png')}}" class="img-responsive-icon"  alt="non-icone"><strong> Grande distribution</strong></h3>
                        <p>Dans un premier temps, afin de favoriser le développement des initiatives locales et indépendantes, nous avons décidé de ne pas intégrer les magasins de ladite grande distribution. Ne serait-ce que parce qu’ils ne proposent qu’une petit quantité de produits en vrac…</p>
                        <div class="pt-3">
                        <h3><img src="{{ asset('dist/img/non.png')}}" class="img-responsive-icon"  alt="non-icone"><strong> Commerces spécialisés et MCMD</strong></h3>
                        <p>De même, dans un premier temps nous avons décidé de ne pas recenser les commerces spécialisés, tels que les boucheries, les fromagers ou encore les boulangers. Nous communiquons déjà sur nombre de ces magasins grâce à l’initiative nationale MCMD (Mon Commerçant M’emballe Durablement), qui recense les commerces et restaurants acceptant les clients munis de leurs contenants réutilisables.</p>
                        </div>
                        <div class="pt-3">
                        <h3><img src="{{ asset('dist/img/non.png')}}" class="img-responsive-icon"  alt="non-icone"><strong> Fruits et légumes</strong></h3>
                        <p>Concernant les fruits et légumes, leur type et leur prix variant beaucoup au fil des saisons, nous ne les ajoutons pas à notre plateforme. Vous pourrez pour autant en trouver dans la plupart des commerces présents sur ce site et comme toujours sur les marchés ! N’hésitez pas à apporter vos emballages quand vous vous rendez sur ces derniers ;)</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6 col-xs-12 ">
                        <div class="row">
                            <div class="col-lg-3 col-xs-2 ">
                                <img src="{{ asset('dist/img/opensource.png')}}" class="img-responsive-open"  alt="open-source">
                                <img src="{{ asset('dist/img/opensource-mobile.png')}}" class="img-responsive-open-mobile"  alt="open-source">
                            </div>
                            <div class="col-lg-9 col-xs-10 ">
                                <h2><strong>Logiciel libre : cloner,<br>contribuer</strong></h2>
                                <p>Enfin dès les premières réunions, le choix ferme a été fait de développer Abracada’vrac dans le cadre du logiciel libre. Vous sera donc prochainement possible de cloner le code de notre page web, ainsi que de contribuer à son développement.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 ">
                        <h2><strong>Neutralité - indépendance</strong></h2>
                        <p>Pas de rémunération par les commerçant pour être présenté mais conseil d’adhérer à l’association.</p>
                    </div>
                </div>
               
                <div class="col-6 img1"></div>
            </div>
    </div>
    <div class="container-fluid bg-secondary " id="choices" >
        <div class="container  mask-responsive">
            <div class=" row  responsive ">
                <div class=" col-xs-12  col-md-12   mt-4  text-tertiary">
                    <div class="welcome-responsive ">
                        <strong >Ces choix vous semblent bons ou alors complètement erronés ou encore vous vous en fichez ?<br> N’hésitez pas à nous rejoindre pour la suite de l’aventure !</strong>
                        <img src="{{ asset('dist/img/mask-group.png')}}" class="img-mask-responsive"  alt="mask-group">  
                    </div>
                    <div class="welcome-responsive  mobile">
                        <div class="welcome-responsive-text" ><strong >Ces choix vous semblent bons ou alors complètement erronés ou encore vous vous en fichez ? N’hésitez pas à nous rejoindre pour la suite de l’aventure !</strong></div>
                        
                        <div class=" d-flex justify-content-center ">
                            <img src="{{  asset('dist/img/mask-group.png')}}"   class="img-mask-responsive tablette "  alt="mask-group">
                            <img src="{{  asset('dist/img/mask-group-mobile.png')}}"   class="img-mask-responsive mobile "  alt="mask-group">
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
  
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
