{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_id %}static-page{% endblock %}

{% block content %}

    {# <div class="container-fluid">
        <nav aria-label="breadcrumb my-4">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
            </ol>
        </nav>
    </div> #}

    <div class="container py-5">
        <h1 class="mb-5" style="font-size:2.9rem">{{ page.title }}</h1>

        {{ page.content|raw }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
