{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_id %}static-page{% endblock %}

{% block content %}

    <div class="container py-5">
        <h1 class="mb-5" style="font-size:2.9rem">Plan du site</h1>
        <ul>
            {% for key, val in mains %}
            <li><a href="{{ app.request.getBaseURL()~val }}">{{key}}</a></li>
            {% endfor %}
        </ul>

        <h2 class="mb-5" style="font-size:2.9rem">Categories</h2>
        <ul>
            {% for key, val in categories %}
            <li><a href="{{ app.request.getBaseURL()~val }}">{{key}}</a></li>
            {% endfor %}
        </ul>

        <h2 class="mb-5" style="font-size:2.9rem">Usages</h2>
        <ul>
            {% for key, val in usages %}
            <li><a href="{{ app.request.getBaseURL()~val }}">{{key}}</a></li>
            {% endfor %}
        </ul>

        <h2 class="mb-5" style="font-size:2.9rem">Magasins</h2>
        <ul>
            {% for key, val in shops %}
            <li><a href="{{ app.request.getBaseURL()~val }}">{{key}}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
