Bonjour {{ contact.name }},
Nous accusons réception de votre demande de contact sur le site Abracada'vrac : {{ url('homepage') }}
Vous nous avez fait part de cette demande : {{ contact.text }}
Le site étant géré par des bénévoles, ils est possible que nous mettions quelques jours à vous répondre.
Cordialement




