<div>
    <div  style="font-family: Lato sans-serif; color: #212529; line-height: 1.5; font-size: 15px;">
        <h1  style="background-color: #F27047; width:100%; font-weight: bold;  ">
            Demande de contact effectuée sur le site Abracada'vrac
        </h1>
        <p><span style="text-transform: capitalize; font-weight: bold;">{{ contact.name }}</span> nous a contacté avec l'adresse mail : {{ contact.email }}.</p>
        <p>Le contenu de son message est :</p>
        <p><span style="font-style: italic;">{{ contact.text }}</span></p>
    </div>
</div>


