<div  style="font-family: Lato sans-serif; color: #212529; line-height: 1.5; font-size: 15px;">
    <h1  style="background-color: #F27047; width:100%; font-weight: bold;  ">
        <a href="{{ url('homepage') }}" title="Abracada'vrac" style="text-decoration: none; font-size: 22px; color: #212529;text-align: center;" >
            Abracada'vrac
        </a>
    </h1>
    <h3 style="text-transform: capitalize;">Bonjour {{ contact.name }},</h3>
    <p>Nous accusons réception de votre demande de contact sur le site <a href="{{ url('homepage') }}" title="Abracada'vrac" style="text-decoration: none;font-weight: bold;color: #212529; " >Abracada'vrac</a>.</p>
    <p>Vous nous avez fait part de cette demande : <span style="font-style: italic;">{{ contact.text }}</span></p>
    <p>Le site étant géré par des bénévoles, il est possible que nous mettions quelques jours à vous répondre.</p>
    <p>Cordialement</p>
</div>



