<div  style="font-family: Lato sans-serif; color: #212529; line-height: 1.5; font-size: 15px;">
    <h1  style="background-color: #F27047; width:100%; font-weight: bold;  ">
        <a href="{{ url('homepage') }}" title="Abracada'vrac" style="text-decoration: none; font-size: 22px; color: #212529;text-align: center;" >
            Abracada'vrac
        </a>
    </h1>
    <h3 style="text-transform: capitalize;">Bonjour {{ user.firstname }},</h3>
    <p>Vous avez fait une demande de réinitialisation de mot de passe, cliquez <a href="{{ url }}" title="Abracada'vrac" style="text-decoration: none;font-weight: bold;color: #212529; " >ici</a> pour effectuer la réinitilisation</p>
    <p>Cordialement</p>
</div>
