<a href="{{ path('homepage') }}?_switch_user={{ object.email }}" class="btn btn-sm btn-default edit_link" title="Se connecter en tant que">
    <i class="glyphicon glyphicon-user"></i><i class="glyphicon glyphicon-log-in"></i>
    Changer d'identité
</a>