{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% set locale = 'fr' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block logo %}
        <a class="logo" href="{{ path('sonata_admin_dashboard') }}">
            <span>{{ sonata_admin.adminPool.title }}</span>
        </a>
{% endblock %}

{% block sonata_top_nav_menu_user_block %}
<a href="{{ path('logout') }}" class="btn btn-default btn-flat"><i class="fa fa-sign-out fa-fw"></i></a>
{% endblock %}

{% block side_bar_after_nav %}
{#<ul class="sidebar-menu">
    <li><a href="{{ path('app_dashboard') }}">{{ 'button.back_to_dashboard'|trans|raw }}</a></li>
</ul>#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
