{% if object.state == constant('App\\Entity\\ContactMessage::STATUS_WAITING') %}
<a class="btn btn-sm" href="{{ admin.generateObjectUrl('treateMessage', object) }}">
    Définir comme traité
</a>
{% else %}
<a class="btn btn-sm" href="{{ admin.generateObjectUrl('untreateMessage', object) }}">
    Définir comme non traité
</a>
{% endif %}
