<a href="{{ app.request.schemeAndHttpHost }}/admin/app/product/list?filter%5Bshop%5D%5Btype%5D=&filter%5Bshop%5D%5Bvalue%5D={{ object.id }}&filter%5Bname%5D%5Btype%5D=&filter%5Bname%5D%5Bvalue%5D=&filter%5Bprice%5D%5Btype%5D=&filter%5Bprice%5D%5Bvalue%5D=&filter%5Bunit%5D%5Btype%5D=&filter%5Bunit%5D%5Bvalue%5D=&filter%5BpriceUpdatedAt%5D%5Btype%5D=&filter%5BpriceUpdatedAt%5D%5Bvalue%5D%5Bstart%5D%5Bday%5D=&filter%5BpriceUpdatedAt%5D%5Bvalue%5D%5Bstart%5D%5Bmonth%5D=&filter%5BpriceUpdatedAt%5D%5Bvalue%5D%5Bstart%5D%5Byear%5D=&filter%5BpriceUpdatedAt%5D%5Bvalue%5D%5Bend%5D%5Bday%5D=&filter%5BpriceUpdatedAt%5D%5Bvalue%5D%5Bend%5D%5Bmonth%5D=&filter%5BpriceUpdatedAt%5D%5Bvalue%5D%5Bend%5D%5Byear%5D=&filter%5Borigin%5D%5Btype%5D=&filter%5Borigin%5D%5Bvalue%5D=&filter%5Blabels%5D%5Btype%5D=&filter%5Blabels%5D%5Bvalue%5D=&filter%5Bproducer%5D%5Btype%5D=&filter%5Bproducer%5D%5Bvalue%5D=&filter%5BisPublished%5D%5Btype%5D=&filter%5BisPublished%5D%5Bvalue%5D=&filter%5B_page%5D=1&filter%5B_sort_by%5D=id&filter%5B_sort_order%5D=ASC&filter%5B_per_page%5D=32" 
class="btn btn-sm btn-default edit_link" title="Voir les produits" target="_blank">
    Voir les produits
</a>