{% block vich_file_widget %}
    <div class="vich-file">
        {{ form_widget(form.file) }}
        {% if form.delete is defined %}
        {{ form_row(form.delete) }}
        {% endif %}

        {% if form.file.parent.vars.object.audioFileName|split('.')|last|lower == "mp3" %}
            <audio controls="controls">
              <source src="{{ vich_uploader_asset(form.file.parent.vars.object, 'audioFile') }}" type="audio/mp3" />
            </audio>
        {% endif %}

        {% if download_uri is defined and download_uri %}
        <a href="{{ download_uri }}">{{ 'download'|trans({}, 'VichUploaderBundle') }}</a>
        {% endif %}
    </div>
{% endblock %}

{% block vich_image_widget %}
    <div class="vich-image">
        {{ form_widget(form.file) }}
        {% if form.delete is defined %}
        {{ form_row(form.delete) }}
        {% endif %}

        {% if image_uri is defined and image_uri %}
            {% if form.file.parent.vars.attr.showImage is defined and form.file.parent.vars.attr.showImage == true %}
                {#{% if form.file.parent.vars.attr.isRecipe is defined and form.file.parent.vars.attr.isRecipe %}#}
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Image de base</th>
                            {% if form.file.parent.vars.attr.showThumb is defined and form.file.parent.vars.attr.showThumb == true %}
                            <th>Miniature</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody class="sonata-ba-tbody ui-sortable">
                        <tr>
                            <td><a href="{{ image_uri }}" target="_blank"><img src="{{ image_uri }}" alt="" id="{{ name }}" style="max-width: 400px" /></a></td>
                            {% if form.file.parent.vars.attr.showThumb is defined and form.file.parent.vars.attr.showThumb == true %}
                            <td><a href="{{ image_uri|imagine_filter('product_thumb') }}" target="_blank"><img src="{{ image_uri|imagine_filter('product_thumb') }}" alt="" id="{{ name }}" style="max-width: 400px" /></a></td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
                {#{% else %}
                <a href="{{ image_uri }}" target="_blank"><img src="{{ image_uri }}" alt="" id="{{ name }}" style="max-width: 400px" /></a>
                {% endif %}#}
            {% endif %}
        {% endif %}

        {#{% if download_uri is defined and download_uri %}
         <a href="{{ download_uri }}"><img src="{{ download_uri }}" alt="" style="max-width: 400px" /></a>
        {% endif %}
        {% if show_download_link and download_uri is defined and download_uri%}
        <a href="{{ download_uri }}">{{ 'download'|trans({}, 'VichUploaderBundle') }}</a>
        {% endif %}#}
    </div>
{% endblock %}
