{% extends 'base.html.twig' %}

{% block page_id %}home{% endblock %}
{% block content %}

    <div class="position-relative">
        <div class="container">
            <div class="row">
                <div class="col-md-6 py-4 py-lg-5">
                    <h1 class="text-center mb-md-4">Recherchez un produit </h1>
                    {{ form_start(searchForm, {'attr': {'method': 'get', 'action': '/rechercher-un-produit'}})}}
                        <div class="row">
                            <div class="col-md-10 col-lg-8 mx-auto mb-4">
                                <label class="d-block" for="home_why">Quoi ?</label>
                                {{ form_widget(searchForm.search, {'attr': {'class': 'form-control', 'placeholder': 'Rechercher un produit...'}}) }}
                            </div>
                            <div class="col-md-10 col-lg-8 mx-auto">
                                <label class="d-block" for="home_where">Où ?</label>

                                <address-control inline-template >
                                    <div class="address-control">
                                        <div class="input-group icon">
                                            {{ form_widget(searchForm.address, {'attr': {'class': 'form-control',  'placeholder': "Ville, code postal, adresse", 'v-model': 'address', 'v-on:input': 'writeAddress', '@blur': 'hideAutocomplete', '@focus': 'showAutocomplete', 'autocomplete': 'off'}}) }}

                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="button" v-on:click.prevent="getUserLocation()"><i class="icon-geoloc"></i></button>
                                            </div>
                                        </div>
                                        {{ form_widget(searchForm.lng, {'attr': {'v-model': 'lng'}}) }}
                                        {{ form_widget(searchForm.lat, {'attr': {'v-model': 'lat'}}) }}
                                        <div class="autocomplete-address" v-show="autocompleteAdresses.length > 0">
                                            <a v-for="address in autocompleteAdresses" v-on:click.prevent="selectAdress(address)" v-text="address.address"></a>
                                        </div>
                                    </div>
                                </address-control>
                            </div>

                            <div class="col-md-10 col-lg-8 mx-auto mt-5">
                                <button class="btn btn-primary d-block w-100" type="submit">Rechercher</a>
                            </div>
                        </div>
                    {{ form_end(searchForm) }}
                </div>
                <div class="cta-shop-search">

                    <div class="cta-shop-search-content h-100 d-flex align-items-center justify-content-center">
                        <a class="btn btn-primary" href="{{ path('search_shop') }}">Recherchez un magasin <i class="icon-marker"></i></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-tertiary text-white py-5">
        <div class="container text-center py-5">
            <img src="{{ asset('dist/img/logo-icon.svg') }}" class="img-fluid mb-3 d-block mx-auto" width="100">
            <img src="{{ asset('dist/img/logo-blanc.svg') }}" class="img-fluid mb-5">
            <h2 class="h1 mb-3 text-white">Qu’est-ce que c’est ?</h2>

            <p class="mx-md-5 px-xl-5">Un outil collaboratif et associatif pour localiser les produits en vrac dans la métropole de Lyon, pensé pour vous qui souhaitez réduire votre consommation d’emballages.</p>
            <p class="mx-md-5 px-xl-5"><small>Construit par l’association Zéro Déchet Lyon et les développeurs de K2.0 en logiciel libre.</small></p>

            <a class="btn btn-primary mt-4" href="{{ path('static_page_abracadaquoi') }}">C'est quoi le vrac ?</a>
        </div>
    </div>

    <div class="container-fluid py-5">
        <div class="container">
            <h2 class="h1 text-center mb-4">En manque d'inspiration ?</h2>
            <p class="text-center">Trouvez des idées pour changer vos habitudes !</p>

            <div class="row mt-5">
                {% for usage in productUsages %}
                    <div class="col-md-6 px-2 my-2">
                        <a class="cta cta-usages" href="{{ path('search_product_by_usage', {slug: usage.slug})}}" style="background-image: url({{ vich_uploader_asset(usage, 'coverFile') }})">
                            <span class="cta-usages-name">{{usage.name}} <i class="icon-more"></i></span>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container-fluid bg-grey-light py-5">
        <div class="container">
            <h2 class="h1 text-center mb-4">Retrouvez nos catégories</h2>

            <slick ref="slick" :options="slickOptions" class="my-4">
                {% for type in productTypes %}
                    <a href="{{ path('search_product_by_category', {slug: type.slug}) }}" class="type hexagone-wrapper d-flex align-items-center justify-content-center flex-column text-uppercase text-tertiary">
                        <span class="hx-wrapper">
                            <span class="hx-hexagone">
                                <span class="hx-hexagone-inner"></span>
                            </span>
                            <img src="{{ asset('dist/img/' ~ type.icon ~ '.svg') }}" class="img-fluid active"/>
                            <img src="{{ asset('dist/img/' ~ type.icon ~ '_hover.svg') }}" class="img-fluid hover"/>
                        </span>
                        {{type.name}}
                    </a>
                {% endfor %}
            </slick>
        </div>
    </div>

    <div class="container-fluid bg-tertiary text-white py-5">
        <div class="container text-center py-5">
            <h2 class="h1 mb-3 text-white">Devenir bénévole</h2>

            <p class="mx-md-5 px-xl-5">Pas de bras, pas de vrac ! </p>
            <p class="mx-md-5 px-xl-5">Pour que ce site soit pertinent, il est primordial d'y trouver des informations justes. Aidez-nous à collecter les informations produits dans les magasins, ou participez plus globalement au projet.
            Que vous soyez expert des courses en vrac ou non, votre aide est précieuse !</p>

            <a class="btn btn-primary mt-4" href="{{ path('contact_message') }}">Participer au projet</a>
        </div>
    </div>

    <div class="container-fluid text-tertiary py-5">
        <div class="container text-center py-5">
            <h2 class="h1 mb-3">Qui somme-nous ?</h2>

            <p class="mx-md-5 px-xl-5">Vous aimez les patates douces ? Tant mieux pour vous ! Pour en savoir plus sur nous, et en découvrir qui se cache derrière cet outil ingénieux, cliquez ici :</p>

            <a class="btn btn-primary mt-4" href="{{ path('static_page_show', {'slug':'qui-sommes-nous'}) }}">En savoir plus</a>
        </div>
    </div>

{% endblock %}
