@mixin hexagone($hover: 'false') {
    .hx {
        &-wrapper {
            margin: 2rem 0;
            display: block;
            position: relative;

            >img {
                @extend .px-3;

                position: absolute;
                width: 100%;
                top: -8px;
                left: 0;
                z-index: 5;
                transition: $default-transition;

                &.active {
                    opacity: 1;
                }

                &.hover {
                    opacity: 0;
                }
            }
        }

        &-hexagone {
            overflow: hidden;
            display: inline-block;
            width: 11rem;
            height: 9.32rem;
            transform: rotate(-30deg) skewX(30deg);
            border-radius: .5rem;

            span,
            span::before {
                display: block;
                overflow: hidden;
                width: inherit;
                height: inherit;
                border-radius: inherit;
            }

            &-inner {
                @extend .shadow-sm;

                transform: skewX(-30deg) rotate(60deg) skewX(30deg);
                transition: $default-transition;
                cursor: pointer;

                &::before {
                    @extend .shadow-sm;

                    transform: skewX(-30deg) rotate(60deg) skewX(30deg);
                    background-color: $secondary;
                    transition: $default-transition;
                    content: '';
                }

                &-background {
                    position: absolute;
                    top: -10px;
                    left: 13px;
                    transform: skewX(-30deg) rotate(-30deg) skewX(0deg);
                    height: 114% !important;
                    width: 84% !important;
                    z-index: 1;
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;
                }
            }
        }
    }

    @if $hover=='true' {
        &:hover {
            img.active {
                opacity: 0;
            }

            img.hover {
                opacity: 1;
            }

            .hx-hexagone-inner {
                &::before {
                    background-color: $tertiary;
                }
            }
        }
    }
}
