@mixin origin-form($type: 'search') {
    $inputName: 'product_search[origin]';
    @if $type=='edit' {
        $inputName: 'product[origin]';
    }

    @extend .d-flex,
    .justify-content-between,
    .flex-row-reverse,
    .pt-4,
    .position-relative;

    input[type="radio"] {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    label {
        @extend .px-2,
        .px-md-4,
        .d-flex,
        .flex-column,
        .align-items-center,
        .justify-content-between;

        cursor: pointer;
        min-height: 50px;

        &::before {
            content: "";
            font-family: 'icon-abrac' !important;
            display: block;
            width: 15px;
            height: 15px;
            margin-top: 5px;
            border-radius: $border-radius;
            background-color: $grey;
            transition: $default-transition;
            line-height: 25px;
            text-align: center;
            font-size: 0;
        }
    }

    input[name="#{$inputName}"] {
        &.attending-4_world:checked+label::before {
            content: "\e909";
        }

        &.attending-3_europe:checked+label::before {
            content: "\e90b";
        }

        &.attending-2_france:checked+label::before {
            content: "\e90c";
        }

        &.attending-1_regional:checked+label::before {
            content: "\e90a";
        }
    }

    input[name="#{$inputName}"]:checked~label {
        color: $secondary;

        &::before {
            background-color: $secondary;
        }
    }

    input[name="#{$inputName}"]:checked+label {
        &::before {
            color: $white;
            width: 25px;
            height: 25px;
            margin-top: 0px;
            font-size: 1rem;
        }
    }
}
