@mixin popup-product-item($view: 'side') {
    .ppi {
        position: fixed;
        visibility: hidden;
        width: 100vw;
        height: 100vh;
        z-index: $zindex-modal;
        top: 0;
        left: 0;
        overflow-y: auto;
        color: $tertiary;

        @if $view=='side' {
            background: $white;
            top: $filterHeightDesktop;
            left: -50vw;
            width: 50vw;
            height: calc(100vh - #{$filterHeightDesktop});
            z-index: $zindex-sticky - 1;
            transition: left .2s ease-in-out,
                visibility 0s ease .2s;

            &.set-top {
                top: $menuHeightDesktop+$filterHeightDesktop;
                height: calc(100vh - (#{$menuHeightDesktop} + #{$filterHeightDesktop}));
            }

            &-wrapper {
                height: 100%;
            }
        }

        @if $view=='popup' {
            display: flex;
            justify-content: center;
            align-items: center;
            transition: opacity .2s ease-in-out;
            opacity: 0;

            &-overlay {
                width: 100%;
                height: 100%;
                position: fixed;
                z-index: $zindex-modal + 1;
                top: 0;
                left: 0;
                background-color: transparentize($black, .6);
            }

            &-wrapper {
                width: 100%;
                max-width: 800px;
                max-height: 100vh;
                background: $white;
                z-index: $zindex-modal + 2;
            }
        }

        @include media-breakpoint-down(md) {
            left: -100vw;
            width: 100vw;
            // top: $menuHeightMobile;
            // height: calc(100vh - #{$menuHeightMobile});
            top: 0 !important;
            height: 100vh !important;
            z-index: $zindex-sticky+1;
            align-items: flex-start;

            &-wrapper {
                height: auto;
                min-height: 100%;
            }

            /*&.set-top {
                top: $menuHeightMobile;
                height: calc(100vh - #{$menuHeightMobile});
            }*/
        }

        &.show {
            visibility: visible;
            left: 0;
            transition: left .2s ease-in-out;

            @if $view=='popup' {
                opacity: 1;
                transition: opacity .2s ease-in-out;
            }
        }

        &-header {

            &-title,
            h5 {
                font-size: 2rem;
                font-weight: 900;
            }
        }

        &-body {
            background: $white;

            &-price {
                font-size: 2rem;
            }

            &-icons {
                .badge {
                    @extend .px-3,
                    .py-2,
                    .m-1;

                    font-size: 85%;
                    color: $white;
                    font-weight: 400;
                }
            }

            &-desc {
                white-space: pre-wrap;
            }

            &-shop {
                &-title {
                    font-weight: 900;

                    i {
                        @extend .ml-2;
                        font-size: .85rem;
                    }
                }

                .btn {
                    font-size: .85rem;
                }
            }
        }
    }
}
