@mixin product-item($view: 'list') {
    .product-item,
    .shop-item {
        padding-left: .5rem;
        padding-right: .5rem;

        @include media-breakpoint-down(sm) {
            padding-left: .25rem;
            padding-right: .25rem;
        }

        @if $view=='map' {
            flex: 0 0 100%;
            max-width: 100%;
        }

        &:hover {
            cursor: pointer;

            .product-item-btn {
                .btn-primary {
                    background: darken($primary, 10);
                }
            }
        }

        &.selected {
            .card {
                border-color: $primary;
            }
        }

        .card {
            border: 1px solid $grey-light;
            box-shadow: $shadow-card;
            border-radius: 1rem;
            transition: $default-transition;

            @if $view == 'list' {
                &-img {
                    min-height: 100px;
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-color: $grey-light;
                    position: relative;
                    border-radius: 1rem;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;

                    &-position {
                        @extend .p-2;

                        position: absolute;
                        left: 0;
                        bottom: 0;
                        color: $white;
                        height: 100%;
                        width: 100%;
                        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 35.78%, rgba(255, 255, 255, 0.0372396) 35.79%, rgba(98, 96, 96, 0.377) 57.29%, rgba(0, 0, 0, 0.468) 86.76%);
                        font-size: 0.9rem;
                        font-weight: 700;
                    }
                }

                @include media-breakpoint-down(sm) {
                    height: 100%;
                }
            }

            @if $view=='map' {
                &-img {
                    display: none;
                }
            }

            &-body {
                @extend .py-2,
                .px-3;

                @if $view=='list' {
                    height: 100px;

                    @include media-breakpoint-down(sm) {
                        height: auto;
                    }
                }

                &-title {
                    font-size: 1rem;
                    font-weight: 700;
                }

                &-price {
                    margin-bottom: 0;
                    font-size: 1rem;
                    font-weight: 300;
                }

                @if $view=='list' {
                    &-shop {
                        display: none !important;
                    }
                }
            }

            &-footer {
                background: $white;
                border-top: 0;

                @include media-breakpoint-down(sm) {
                    padding: 0.75rem;
                }

                &-icons {
                    @extend .d-flex;

                    @if $view=='list' {
                        @extend .pb-2;
                    }

                    font-size: 1.5rem;

                    @include media-breakpoint-down(sm) {
                        font-size: 1.25rem;
                    }

                    >span {
                        @extend .px-1, .px-sm-2;

                        &:first-child {
                            @extend .pl-0;
                        }
                    }
                }
            }
        }

        &-btn {
            @extend .text-center;

            margin-top: -17px;
            position: relative;
        }
    }

    .shop-item {
        .card {
            background-color: $tertiary;
            color: $white;
            box-shadow: none;
            border: 0;

            &-body {
                height: 150px;

                &-title {
                    @extend .mt-2;

                    font-size: 1.25rem;
                }
            }
        }

        &:hover, &.selected {
            .card {
                background-color: $primary;
            }

            .shop-item-btn {
                .btn {
                    border-color: $white;
                }
            }
        }
    }
}
