{% extends 'base.html.twig' %}

{% block page_id %}collector-home{% endblock %}
{% block content %}
    <div class="container py-5">
        <h1>Espace de contribution</h1>
        <p>Dans cet espace, il est possible d’ajouter de nouveaux produits dans le(s) commerce(s) associé(s) à votre compte. Pour modifier les produits existants, il faut passer par la page magasin.</p>
    </div>

    <div class="bg-tertiary text-white py-5">
        <div class="container">
            <h2 class="text-white">Produits à vérifier :</h2>

            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="py-4" v-for="shop in shops" v-cloak>
                        <h3 class="text-white"><i class="icon-marker"></i> ${ shop.name }</h3>
                        <slick ref="slick" :options="slickOptions" class="my-4 px-5">
                            <div v-for="product in products[shop.id]" class="product-item">
                                <div class="card mx-3">
                                    <div class="card-img" :style="[{'background-image': 'url(' + imageProduct(product[0]) + ')'}]"></div>
                                    <div class="card-body">
                                        <h5 class="card-body-title">${ product[0].name }</h5>
                                        <p class="card-body-price" v-text="product[0].price + '€/' + product[0].unit.short_name"></p>
                                        <p>Signalements<br/>
                                        <span class="badge badge-primary">${ product[1] }</span></p>
                                        <p>Dernière Maj<br/>
                                        ${ product[0].updated_at | moment("DD/MM/YYYY") }</p>
                                    </div>
                                </div>
                                <div class="product-item-btn">
                                    <a class="btn btn-primary circle-icon" :href="linkEditProduct(product[0])" ><i class="icon-edit"></i></a>
                                </div>
                                <!--Produit : ${ product[0] }<br />
                                Signalements : ${ product[1] }-->
                            </div>
                        </slick>
                        <a class="btn btn-white mr-md-5 d-block d-md-inline-block" :href="linkShop(shop)">Page magasin</a>
                        <a class="btn btn-primary mt-4 mt-md-0 d-block d-md-inline-block" :href="linkAddProduct(shop)">Ajouter un produit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var datas = {
            productImagesPath: '{{ product_thumb_path }}',
            shops: {{ shops|raw }},
            products: {{ products|raw }},
        };
    </script>
    {{ parent() }}
{% endblock %}
