<div class="product-form">
    {{ form_start(form) }}
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Nom du produit *</label>
                    {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Nom du produit' }}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Prix *</label>
                    {{ form_widget(form.price, {'attr': {'class': 'form-control', 'placeholder': 'Prix en euros' }}) }}
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>Unité *</label>
                    {{ form_widget(form.unit, {'attr': {'class': 'form-control' }}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group border-top my-4 pt-4">
                    <label>Provenance *</label>
                    <div class="product-form-origin">
                        {{ form_widget(form.origin) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group border-top my-4 pt-4">
                    <label>Labels</label>
                    <div class="d-flex flex-wrap">
                        {{ form_widget(form.labels) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group border-top my-4 pt-4">
                    <label>Catégorie *</label>
                    <div class="product-form-types-usages">
                        {{ form_widget(form.type, {'attr': {'v-model': 'selectedCategory'}}) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group border-top my-4 pt-4">
                    <label>Usages</label>
                    <div class="product-form-types-usages">
                        {{ form_widget(form.usages) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group border-top my-4 pt-4">
                    <label>Description</label>
                    {{ form_widget(form.description, {'attr': {'class': 'form-control' }}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group border-top my-4 pt-4">
                    <label>Fournisseur / Producteur</label>
                    {{ form_widget(form.producer, {'attr': {'class': 'form-control' }}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group border-top my-4 pt-4">
                    <label>Image</label>
                    {{ form_widget(form.productImage) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group border-top my-4 pt-4">
                    <label>Signalements en cours</label>
                    {% for signal in product.signals %}
                        {% if signal.status == constant('App\\Entity\\ProductSignal::STATUS_OPEN') %}
                            <div class="row">
                                <div class="col-1">
                                    {% if signal.type == constant('App\\Entity\\ProductSignal::TYPE_STOCK') %}
                                    Stock
                                    {% else %}
                                    Prix
                                    {% endif %}
                                </div>
                                <div class="col-2">
                                    <p>{{signal.signaledAt|date('d/m/Y')}}</p>
                                </div>
                                <div class="col-9">
                                    <p>{{signal.comment}}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <label>Signalements passés</label>
                    {% for signal in product.signals %}
                        {% if signal.status == constant('App\\Entity\\ProductSignal::STATUS_CLOSED') %}
                            <div class="row">
                                <div class="col-1">
                                    {% if signal.type == constant('App\\Entity\\ProductSignal::TYPE_STOCK') %}
                                    Stock
                                    {% else %}
                                    Prix
                                    {% endif %}
                                </div>
                                <div class="col-2">
                                    <p>{{signal.signaledAt|date('d/m/Y')}}</p>
                                </div>
                                <div class="col-9">
                                    <p>{{signal.comment}}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="border-top my-4 pt-4">
            {% if type == 'new' %}
                {{ form_widget(form.saveAndAdd, {'attr': {'class': 'btn btn-primary my-3 mr-md-5 d-block d-md-inline-block' }}) }}<br />
            {% endif %}
            {{ form_widget(form.saveDashboard, {'attr': {'class': 'btn btn-primary d-block d-md-inline-block mt-1' }}) }}<br />
            {{ form_widget(form.saveShop, {'attr': {'class': 'btn btn-primary d-block d-md-inline-block mt-1' }}) }}
        </div>
    {{ form_end(form) }}
    {% if type == 'edit' %}
    {{ include('product/_partial/_delete-form.html.twig') }}
    {% endif %}
</div>
