<div v-for="(product, index) in productList" :id="'product_'+product.id" class="ppi" :class="[{ 'set-top': scrollTop }, productShowing == product.id ? 'show' : '' ]">
    <div class="ppi-overlay" @click.prevent="productShowing = ''"></div>
    <div class="ppi-wrapper d-flex flex-column">
        <div class="ppi-header p-3 py-lg-3 px-lg-4">
            <div class="ppi-header-title d-flex">
                <h5 v-text="product.name"></h5>
                <a class="ml-auto pl-2" href="#" @click.prevent="productShowing = ''; signalProductShowing = ''"><i class="icon-close"></i></a>
            </div>
            <p class="m-0" v-if="product.producer">Producteur / marque : <span v-text="product.producer"></span></p>
        </div>
        <div class="ppi-body px-3 px-lg-4 py-lg-3">
            <p class="ppi-body-price m-0" v-text="product.price + '€ / ' + product.unit.short_name"></p>
            {% if shop is not defined %}
                <div v-if="product.signals">
                    <p class="ppi-body-warning text-primary m-0" v-if="getSignalByProduct(index, 'price')"><i class="icon-danger"></i> Le prix n'est peut-être pas à jour</p>
                    <p class="ppi-body-warning text-primary m-0" v-if="getSignalByProduct(index, 'stock')"><i class="icon-danger"></i> Le produit n'est peut-être plus en stock</p>
                </div>
            {% elseif shop is defined %}
                <div v-if="product.signals">
                    <p class="ppi-body-warning text-primary m-0" v-if="getSignalByProduct(index, indexCategorized, 'price')"><i class="icon-danger"></i> Le prix n'est peut-être pas à jour</p>
                    <p class="ppi-body-warning text-primary m-0" v-if="getSignalByProduct(index, indexCategorized, 'stock')"><i class="icon-danger"></i> Le produit n'est peut-être plus en stock</p>
                </div>
            {% endif %}
            <p>Dernière mise à jour du produit le ${product.updated_at | moment("DD/MM/YYYY")}</p>
            <div class="ppi-body-icons my-4">
                <span class="badge badge-secondary">
                    <i :class="[
                        (product.origin == '1_regional')? 'icon-region': '',
                        (product.origin == '2_france')? 'icon-france': '',
                        (product.origin == '3_europe')? 'icon-ue': '',
                        (product.origin == '4_world')? 'icon-monde': '',
                        ]"></i>
                    <span v-text="(product.origin == '1_regional')? 'Régional': (product.origin == '2_france')? 'France': (product.origin == '3_europe')? 'Europe': (product.origin == '4_world')? 'Monde': ''"></span>
                </span>
                <span class="badge badge-tertiary" v-if="product.labels.length > 0" v-for="label in product.labels">
                    <i :class="'icon-' + label.icon"></i>
                    <span v-text="label.name"></span>
                </span>
            </div>
            <p class="ppi-body-desc" v-text="product.description"></p>
            {% if shop is not defined %}
            <div class="ppi-body-shop border-top py-4">
                <a class="ppi-body-shop-title text-uppercase" :href="linkShop(product.shop.slug)"><span v-text="product.shop.name"></span> <i class="icon-chevron-right"></i></a>
                <div class="d-flex mt-3">
                    <i class="icon-marker mt-1"></i>
                    <span class="px-2" v-text="product.shop.address.address"></span>
                    <a class="btn btn-outline-primary ml-auto d-inline-block" :href="linkShop(product.shop.slug)" target="_blank">Voir le magasin</a>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="ppi-footer container-fluid mt-auto bg-grey-light text-center py-3 py-lg-5">
            <div v-if="!signalProductShowing && !signalSuccess">
                <p>Signaler une erreur de prix ou une rupture de stock</p>
                <a class="btn btn-outline-tertiary mb-3" href="#" @click.prevent="signalProductShowing = true">Signaler</a>
            </div>
            <div v-if="!signalProductShowing && signalSuccess">
                <p class="text-green_ok"><i class="icon-valid"></i> Votre signalement à bien été pris en compte</p>
            </div>
            {% if shop is defined and shop %}
                <div v-if="signalProductShowing" class="text-left">
                    <div class="popup-signal-header-title d-flex">
                        <h5>Signalement</h5>
                    </div>
                    <div class="popup-signal-body px-3 px-lg-4 py-lg-3">
                        <form id="form_signalment">
                            <div class="form-group">
                                <label class="font-weight-bold ">Vous avez constaté une erreur de prix ?</label>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" value="" id="price" name="price" v-model="signalPrice">
                                    <label class="custom-control-label text-uppercase text-primary" for="price">
                                        Signaler une erreur de prix
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold">Il n'y a plus de stock</label>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" value="" id="stock" name="stock" v-model="signalStock">
                                    <label class="custom-control-label text-uppercase text-primary" for="stock">
                                        Signaler une rupture de stock
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold">D'autres précisions</label>
                                <textarea id="description" name="description" class="form-control" placeholder="Prix constaté en magasin, estimation du retour de stock ..." v-model="signalDescription" :disabled="(signalPrice || signalStock)? false:'disabled'"></textarea>
                            </div>
                            <a id="bouton_signalement" class="btn btn-primary" @click.prevent="signalError()" href="#">Envoyer</a>
                            <p v-show="signalWarning" class="text-danger text-center mt-3 mb-0">Merci de cocher au moins une case</p>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>


