{% set editable = false %}
{% if isManagedByUser is defined %}
    {% if isManagedByUser and is_granted("ROLE_COLLECTOR", app.user) %}
        {% set editable = true %}
    {% endif %}
{% endif %}
<div class="product-item col-6 col-md-4 {% if shop is not defined %}col-lg-6 col-xl-4 col-xxl-3{% else %}col-lg-3 col-xl-2 col-xxl-2{% endif %} my-3"
        v-for="product in productList"
        :data-product="product.id"
        :data-shop="product.shop.id"
        {% if shop is not defined %}@mouseover="mouseOverOnProduct(product.shop)"{% endif %}
        {% if not editable %}
            @click.prevent="productShowing = product.id"
        {% endif %}
            >
    <div class="card">
        <div class="card-img" :style="[{'background-image': 'url(' + imageProduct(product) + ')'}]">
            <div class="card-img-position d-flex">
                <div class="d-flex align-self-end w-100">
                    <i class="icon-marker p-1"></i>
                    <span class="px-1" v-text="product.shop.name"></span>
                </div>
            </div>
        </div>
        <div class="card-body">
            <small v-if="product.distance != null" v-text="product.distance+'m'"></small>
            <h5 class="card-body-title">${ product.name|truncate(38) }</h5>
            <p class="card-body-price" v-text="product.price + '€/' + product.unit.short_name"></p>
            <div class="card-body-shop d-flex align-self-end w-100 pt-1">
                <i class="icon-marker p-1"></i>
                <span class="px-1" v-text="product.shop.name"></span>
            </div>
        </div>
        <div class="card-footer">
            <div class="card-footer-icons">
                <span class="text-secondary">
                    <i :class="[
                        (product.origin == '1_regional')? 'icon-region': '',
                        (product.origin == '2_france')? 'icon-france': '',
                        (product.origin == '3_europe')? 'icon-ue': '',
                        (product.origin == '4_world')? 'icon-monde': '',
                        ]"></i>
                </span>
                <span v-if="product.labels.length > 0" v-for="label in product.labels.slice(0, 3)">
                    <i :class="'icon-' + label.icon"></i>
                </span>
                <span v-if="product.labels.length > 3"><i class="icon-dots"></i></span>
            </div>
        </div>
    </div>
    <div class="product-item-btn">

        <a class="btn btn-primary circle-icon" href="#" {% if editable %} @click.prevent="productShowing = product.id"{% endif %}><i class="icon-more"></i></a>
        {% if editable %}
        <a class="btn btn-green_ok circle-icon" :href="linkToEditProduct(product)"><i class="icon-edit"></i></a>
        {% endif %}
    </div>
</div>
