{% if searchForm %}
    <div class="form-search py-md-3">
        {{ form_start(searchForm, {'attr': {'id': 'search-form', 'novalidate': ''}}) }}
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Quoi ?</label>
                        {{ form_widget(searchForm.search, {'attr': {'class': 'form-control', 'v-on:keyup.enter': 'search', 'v-model': 'form_what', 'placeholder': 'Rechercher un produit...'}}) }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Où ?</label>
                        <address-control inline-template ref="formAddressControl"
                            address_prop="{% if searchForm.address.vars.value != ""%}{{ searchForm.address.vars.value }}{% endif %}"
                            {% if searchForm.lng.vars.value != ""%}:lng_prop="{{ searchForm.lng.vars.value }}"{% endif %}
                            {% if searchForm.lat.vars.value != ""%}:lat_prop="{{ searchForm.lat.vars.value }}"{% endif %} >
                            <div class="address-control">
                                <div class="input-group icon">
                                    {{ form_widget(searchForm.address, {'attr': {'class': 'form-control', 'v-model': 'address', 'v-on:input': 'writeAddress', '@blur': 'hideAutocomplete', '@focus': 'showAutocomplete', 'autocomplete': 'off'}}) }}
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button" v-on:click.prevent="getUserLocation()"><i class="icon-geoloc"></i></button>
                                    </div>
                                </div>
                                {{ form_widget(searchForm.lng, {'attr': {'v-model': 'lng'}}) }}
                                {{ form_widget(searchForm.lat, {'attr': {'v-model': 'lat'}}) }}
                                <div class="autocomplete-address" v-show="autocompleteAdresses.length > 0">
                                    <a v-for="address in autocompleteAdresses" v-on:click.prevent="selectAdress(address)" v-text="address.address"></a>
                                </div>
                            </div>
                        </address-control>
                    </div>
                </div>
                <div class="col-md-4 form-group d-none d-lg-flex justify-content-between align-items-end">
                    <a @click.prevent="filterShowing = (filterShowing == 'open')? '' : 'open'" class="text-uppercase py-2 text-primary" data-toggle="collapse" href="#collapse-form" role="button" aria-expanded="false" aria-controls="collapse-form"><i class="icon-filter"></i>&nbsp;&nbsp;Filtrer</a>
                    <a href="#" class="btn btn-primary" @click.prevent="search()">Rechercher</a>
                </div>
            </div>
            <div class="collapse" :class="{'show': isMobile()}" id="collapse-form">
                <div class="form-group">
                    <label>Provenance</label>
                    <div class="form-search-origin">
                        {{ form_widget(searchForm.origin) }}
                    </div>
                </div>
                <div class="form-group">
                    <label>Labels</label>
                    <div class="d-flex flex-wrap">
                        {{ form_widget(searchForm.labels) }}
                    </div>
                </div>
                <div class="form-group form-search-collapse">
                    <label>Usages</label>
                    <div class="form-search-types-usages">
                        {{ form_widget(searchForm.usages) }}
                    </div>
                </div>
                <div class="form-group form-search-collapse">
                    <label>Catégories</label>
                    <div class="form-search-types-usages">
                        {{ form_widget(searchForm.types) }}
                    </div>
                </div>
            </div>
            {#{{ form_widget(form.startLimit, {'attr': {'v-model': 'startLimit'}}) }}#}
            <div class="form-search-submit">
                <a href="#" class="btn btn-primary" @click.prevent="search()">Rechercher</a>
            </div>
        {{ form_end(searchForm) }}
    </div>
{% endif %}
