{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_id %}contact{% endblock %}


{% block content %}
<div id="contact">
    <div class="container" >
        <div class="row">
            <div class="col-md-12 col-xs-12  pt-4  pb-xs-1">
                <h1  style="font-size:  2.9rem;">Nous contacter</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12 mb-5 mt-1 pt-1 pb-xs-1 pb-md-3 ">
                <p class="mt-2">
                    Nous avons fait le maximum pour expliquer qui nous sommes, pourquoi nous avons réalisé ce site, quels choix forts nous avons faits... Si vous n'y avez pas trouvé la réponse à votre interrogation, vous pouvez remplir le formulaire ci-dessous.
                </p>
                <p>
                    Attention, ce site est géré par des bénévoles, il est possible que nous mettions quelques jours à vous répondre.
                </p>
                {% for text in app.flashes('success') %}
                    <div class="alert alert-success mb-0 ">
                        {{ text }}
                    </div>
                {% endfor %}
            </div>
            <img src="{{ asset('dist/img/astronaute-mobile-360x170.svg')}}"   class="img-responsive mobile"  alt="astronaut-image-mobile">
            <div class="col-md-6  col-xs-12  pt-md-1 pt-xs-3 pb-xs-6 " >
                {% include 'contact/_partial/_contactForm.html.twig' with contactForm %}
            </div>
        </div>
    </div>
    <div class=" container-fluid bg-tertiary text-white py-5 pt-xs-6 img-responsive" >
        <div class="container"  class="d-flex align-items-center justify-content-start ">
            <img src="{{ asset('dist/img/astronaute-558x460.svg')}}"  alt="astronaut-image-desktop">
        </div>
    </div>
    {# <div class="bg-secondary responsive mask-responsive container-fluid" >
        <div class="row justify-content-end  ">
            <div class=" col-xs-12 col-md-6   col-md-offset-6 mt-4 my-4 py-2  text-tertiary">
                <div class="welcome-responsive">
                    <strong >Bienvenue dans l'Aventure Vrac !</strong>
                    <img src="{{ asset('dist/img/mask-group.png')}}" class="img-mask-responsive"  alt="mask-group">
                </div>
                <div class="welcome-responsive  mobile">
                    <div class="welcome-responsive-text" ><strong >Bienvenue dans<br>l'Aventure Vrac !</strong></div>
                    <div class=" d-flex justify-content-center ">
                        <img src="{{  asset('dist/img/mask-group.png')}}"   class="img-mask-responsive tablette "  alt="mask-group">
                        <img src="{{  asset('dist/img/mask-group-mobile.png')}}"   class="img-mask-responsive mobile "  alt="mask-group">
                    </div>
                </div>
            </div>
        </div> #}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
