{% extends 'base.html.twig' %}

{% block page_id %}login{% endblock %}

{% block content %}

<div class="container">
    <div class="row my-5">
        <div class="col-auto mx-auto login-form">

            <h1>Changement de mot de passe</h1>

            <form action="{{ path("change_password") }}" method="post" role="form" class="py-5">
                {{ form_row(form._token) }}
                <div class="form-group has-feedback">
                    <label for="{{ form.oldPassword.vars.full_name }}">Votre ancien mot de passe</label>
                    {{ form_widget(form.oldPassword, {'attr': {'class': 'form-control'}}) }}

                    {% if error is defined and error == 'unrecognize_password' %}
                        <p class="text-danger text-center">Mauvais mot de passe</p>
                    {% endif %}
                </div>
                <div class="form-group has-feedback">
                    <label for="{{ form.newPassword.first.vars.full_name }}">Votre nouveau mot de passe</label>
                    {{ form_widget(form.newPassword.first, {'attr': {'class': 'form-control'}}) }}
                    <label for="{{ form.newPassword.first.vars.full_name }}">Retappez votre nouveau mot de passe</label>
                    {{ form_widget(form.newPassword.second, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Modifier mon mot de passe</button>
                </div>
            </form>

        </div>
    </div>
</div>

{% endblock %}
