{% extends 'base.html.twig' %}

{% block page_id %}login{% endblock %}

{% block content %}

<div class="container">
    <div class="row my-5">
        <div class="col-auto mx-auto login-form">

            <h1>Mot de passe oublié</h1>

            <form action="{{ path("forgotten_password") }}" method="post" role="form" class="py-5">
                {{ form_row(form._token) }}
                <div class="form-group has-feedback">
                    <label for="{{ form.email.vars.full_name }}">Votre adresse email</label>
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}

                    {% if error is defined and error == 'unrecognize_email' %}
                        <p class="text-danger text-center">Email non reconnu</p>
                    {% endif %}
                </div>

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Modifier mon mot de passe</button>
                </div>
            </form>

        </div>
    </div>
</div>

{% endblock %}
