{% extends 'base.html.twig' %}

{% block page_id %}login{% endblock %}

{% block content %}

<div class="container">
    <div class="row my-5">
        <div class="col-auto mx-auto login-form">

            <h1>Mot de passe oublié</h1>

            <p class="text-center">Un email vous permettant de réinitialiser votre mot de passe vous a été envoyé.</p>

        </div>
    </div>
</div>

{% endblock %}
