{% extends 'base.html.twig' %}

{% block page_id %}login{% endblock %}

{% block content %}

<div class="container">
    <div class="row my-5">
        <div class="col-auto mx-auto login-form">

            <h1>Connexion</h1>

            <form action="{{ path("login") }}" method="post" role="form" class="py-5">
                {{ form_row(form._token) }}

                {% if error %}
                    <div class="text-danger text-center mb-3">Mauvais identifiant ou mot de passe.</div>
                {% endif %}

                <div class="form-group has-feedback">
                    <label for="{{ form.email.vars.full_name }}">Votre adresse email</label>
                    <input type="email" class="form-control" id="username" name="{{ form.email.vars.full_name }}" value="{{ last_username }}" required="required" />
                </div>

                <div class="form-group has-feedback">
                    <label for="{{ form.password.vars.full_name }}">Votre mot de passe</label>
                    <input type="password" class="form-control" id="password" name="{{ form.password.vars.full_name }}" required="required" />
                </div>

                <div class="form-group custom-control custom-checkbox">
                    <input type="checkbox" id="remember_me" name="_remember_me" class="custom-control-input"/>
                    <label for="remember_me" class="custom-control-label">Se souvenir de moi</label>
                </div>
                <div class="d-flex justify-content-center mt-5">
                    <button id="login" type="submit" class="btn btn-primary">Connexion</button>
                </div>

                <div class="text-right mt-3">
                    <a class="underline text-grey-light-2" href="{{ path('forgotten_password') }}">Mot de passe oublié ?</a>
                </div>
            </form>

        </div>
    </div>
</div>

{% endblock %}
