{% extends 'base.html.twig' %}

{% block page_id %}login{% endblock %}

{% block content %}

<div class="container">
    <div class="row my-5">
        <div class="col-auto mx-auto">

            <h1>Réinitialisation de mot de passe</h1>

            <p class="text-center">Votre mot de passe à bien été modifié.</p>

        </div>
    </div>
</div>

{% endblock %}
