{% extends 'base.html.twig' %}

{% block page_id %}login{% endblock %}

{% block content %}

<div class="container">
    <div class="row my-5">
        <div class="col-auto mx-auto login-form">

            <h1>Réinitialisation de mot de passe</h1>

            <form action="{{ path("reset_password", {'token': token}) }}" method="post" role="form" class="py-5">
                {{ form_row(form._token) }}

                <div class="form-group has-feedback">
                    <label for="{{ form.password.first.vars.full_name }}">Votre mot de passe</label>
                    {{ form_widget(form.password.first, {'attr': {'class': 'form-control'}}) }}
                    <label for="{{ form.password.first.vars.full_name }}">Retappez votre mot de passe</label>
                    {{ form_widget(form.password.second, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Modifier mon mot de passe</button>
                </div>
            </form>

        </div>
    </div>
</div>

{% endblock %}
