{% extends 'base.html.twig' %}

{% block robots %}noindex, nofollow{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_id %}search-shop{% endblock %}

{% block content %}

<div id="mobile-quick-search" class="d-lg-none fixed-top row m-0" v-bind:class="[{'hidden-mobile': mobileMap}, { 'visible': scrollLimit }]">
    <div class="col-auto text-center">
        <a class="btn btn-outline-primary shadow-sm" @click.prevent="animateScrollTop"><i class="icon-chevron-down"></i></a>
    </div>
</div>

<div id="search-wrapper" class="container-fluid p-0" :class="[{ 'set-top': scrollTop }, filterShowing, {'hidden-mobile': mobileMap}]">
    <div class="container">
        <div class="d-flex justify-content-between d-lg-none py-3">
            <h2 class="text-primary">Rechercher</h2>
        </div>
        {% include 'shop/_partial/_form.html.twig' with searchForm %}
    </div>
</div>

<div class="container-fluid">

    <div class="row" v-bind:class="{'show-map': mobileMap, 'show-list': mobileList}" v-cloak>
        <div class="col-lg-6" v-if="!searchInProgress" v-bind:class="{'hidden-mobile': mobileMap}">
            <div class="row mt-4">
                <div v-if="nbrResultsTotal > 0" class="col-auto">
                    Résultats de <span v-if="startLimit == 0">1</span><span v-else>${startLimit}</span> à ${startLimit + nbrResults} sur ${nbrResultsTotal}
                </div>
                <div v-else class="col-auto">
                    Aucun résultat
                </div>
                <div class="col-auto ml-auto">
                    <div class="dropdown">
                        <a class="text-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Trier <i class="icon-chevron-down"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" v-if="from != null" href="#" @click.prevent="sort('distance')">Distance</a>
                            <a class="dropdown-item" href="#" @click.prevent="sort('name')">Nom</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shop-list row px-3">
                {% include 'shop/_partial/_shop-item.html.twig' %}
            </div>
            <div v-if="totalPageNumber > 0" class="d-flex flex-column flex-md-row justify-content-between align-items-center py-4 px-3">
                <a href="#" class="btn btn-primary" v-if="startLimit > 0" @click.prevent="prevResults()">précédents</a>
                <div class="text-center text-uppercase font-weight-bold py-2 flex-grow-1 ">Page ${ currentPage } / ${ totalPageNumber }</div>
                <a href="#" class="btn btn-primary ml-md-auto" v-if="startLimit + nbrResults < nbrResultsTotal" @click.prevent="nextResults()">suivants</a>
            </div>
            <div class="popup-shop-list">
                {#{% include 'shop/_partial/_popup-shop-item.html.twig' %}#}
            </div>
        </div>
        <div class="col-lg-6" v-if="searchInProgress">
            <p class="text-center py-4">Recherche en cours</p>
            <div class="d-flex justify-content-center">
                <div class="spinner-grow text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        <div class="col-lg-6 px-0" v-bind:class="{'hidden-mobile': mobileList}">
            {#<span>Center: ${ center }</span><br />
            <span>Zoom: ${ zoom }</span><br />
            <span>Bounds: ${ bounds }</span>#}
            <div id="map" :class="{ 'set-top': scrollTop }">
                <l-map
                    :zoom="zoom"
                    {% if lat != null and lng != null %}:center="center"{% endif %}
                    @move="onMove"
                    ref="map">
                    <l-tilelayer url="http://{s}.tile.osm.org/{z}/{x}/{y}.png"></l-tilelayer>
                </l-map>
                <div class="find-btn text-center">
                    <a href="#" class="btn btn-white btn-sm shadow-sm" v-if="moved" @click.prevent="reloadAfterMove()">Rechercher dans cette zone</a>
                </div>
            </div>
            <div class="list-card-slick">
                <slick  ref="slick"
                        id="slick"
                        :options="slickOptions"
                        @afterChange="handleAfterChange">
                    {% include 'shop/_partial/_shop-item.html.twig' %}
                </slick>
            </div>
        </div>
    </div>

</div>

<!-- Icon List fixed -->
<div id="switch-list" class="icon-fixed" @click.prevent="switchShow(false)" v-if="mobileMap">
    <i class="icon-list"></i>
</div>

<!-- Icon Map fixed -->
<div id="switch-map" class="icon-fixed" @click.prevent="switchShow(true)" v-if="mobileList">
    <i class="icon-marker"></i>
</div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var datas = {
            {% if from %}from: [{{lat}}, {{lng}}],{% endif %}
            {% if lat != null and lng != null %}center: [{{lat}}, {{lng}}],{% endif %}
            zoom: 14,
            startLimit: 0,
            showedNumber: {{ resultsNumber }},
            shopList: {{ shopList|raw }},
            totalNumber: {{ totalNumber }},
            what: "{{ searchForm.search.vars.value }}",
        };
    </script>
    {{ parent() }}
{% endblock %}
