{% extends 'base.html.twig' %}

{% block title %}{{ shop.name }} | Abracada'vrac{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_id %}shop-page{% endblock %}

{% block content %}
    <div class="container-fluid p-0 overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-4 p-0 pl-lg-3 pr-lg-0 order-1 order-lg-0">
                    <div id="map-shop" class="h-100">
                        <l-map :zoom=15 :center="[{{ shop.address.lat }}, {{ shop.address.lng }}]">
                            <l-tilelayer url="http://{s}.tile.osm.org/{z}/{x}/{y}.png"></l-tilelayer>
                            <l-marker :lat-lng="[{{ shop.address.lat }}, {{ shop.address.lng }}]"></l-marker>
                        </l-map>
                    </div>
                </div>
                <div class="col-6 col-md-8 p-0 pr-lg-3 pl-lg-0 order-0 order-lg-1">
                    <div class="shop-name">
                        <div>
                            <h1>{{ shop.name }}</h1>
                            {% if shop.address %}
                                <p class="m-0"><i class="icon-marker"></i> {{ shop.address }}</p>
                            {% endif %}
                        </div>
                        <a class="btn btn-outline-primary mt-auto d-flex justify-content-center align-items-center d-lg-none" data-toggle="collapse" href="#shop-details-mobile" role="button" aria-expanded="false" aria-controls="shop-details-mobile">
                            Plus d'informations&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-chevron-down"></i>
                        </a>
                    </div>
                    <div class="row px-3 d-none d-lg-flex">
                        <div class="col-lg-5">
                            <p><b>Horaires standards</b><br/>(hors jours fériés, vacances...)</p>
                            {% if (shop.openingTimes[0].morningStartAt is not null) %}
                                {% for time in shop.openingTimes %}
                                <div class="time">
                                    <span class="time-day">
                                        {{time.day|getDayFR|capitalize|slice(0, 3)}}.
                                    </span>
                                    <span class="time-hours">
                                        {# si pas d'ouverture ou pas de fermeture -> fermé #}
                                        {% if ((time.morningStartAt|date('H:i') == '00:00' and time.afternoonStartAt|date('H:i') == '00:00' )
                                            or (time.morningEndAt|date('H:i') == '00:00' and time.afternoonEndAt|date('H:i') == '00:00' )) %}
                                            Fermé

                                        {# si pas d'ouverture le matin -> après midi #}
                                        {% elseif (time.morningStartAt|date('H:i') == '00:00') %}
                                            {{ time.afternoonStartAt|date('H:i') }} - {{ time.afternoonEndAt|date('H:i') }}

                                        {# si pas de fermeture l'après midi -> matin #}
                                        {% elseif (time.afternoonEndAt|date('H:i') == '00:00') %}
                                            {{ time.morningStartAt|date('H:i') }} - {{ time.morningEndAt|date('H:i') }}

                                        {# si pas de fermeture le matin et pas d'ouverture l'après midi -> non stop #}
                                        {% elseif (time.morningEndAt|date('H:i') == '00:00' and time.afternoonStartAt|date('H:i') == '00:00') %}
                                            {{ time.morningStartAt|date('H:i') }} - {{ time.afternoonEndAt|date('H:i') }}

                                        {# sinon toute la journée #}
                                        {% else %}
                                            {{ time.morningStartAt|date('H:i') }} - {{ time.morningEndAt|date('H:i') }} / {{ time.afternoonStartAt|date('H:i') }} - {{ time.afternoonEndAt|date('H:i') }}
                                        {% endif %}
                                    </span>
                                </div>
                                {% endfor %}
                            {% else %}
                                Non renseignés
                            {% endif %}
                        </div>
                        <div class="col-lg-7 border-left">
                            {% if shop.website %}
                            <p><a href="{{ shop.website }}" target="_blank">{{ shop.website|replace({'http://': ' ', 'https://': " "}) }}</a></p>
                            </dd>
                            {% endif %}
                            {% if shop.email %}
                                <p>Email : {{ shop.email }}</p>
                            {% endif %}
                            {% if shop.phone %}
                                <p>Tel : {{ shop.phone }}</p>
                            {% endif %}
                            <p>
                                <b>Type de magasins</b>
                                <br/>
                                {% for type in shop.types %}
                                    {{ type.name }}
                                    {% if not loop.last %}
                                    ,
                                    {% endif %}
                                {% endfor %}
                            </p>
                            {% if shop.description %}
                                <p>
                                    <b>Description</b>
                                    <br/>
                                    {{ shop.description|nl2br }}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="mt-0 d-none d-lg-block"/>

    <div class="container d-block d-lg-none">
        <div class="collapse" id="shop-details-mobile">
            <div class="my-3">
                <p><b>Horaires standards</b><br/>(hors jours fériés, vacances...)</p>
                {% if (shop.openingTimes[0].morningStartAt is not null) %}
                    {% for time in shop.openingTimes %}
                    <div class="time">
                        <span class="time-day">
                            {{time.day|getDayFR|capitalize|slice(0, 3)}}.
                        </span>
                        <span class="time-hours">
                            {# si pas d'ouverture ou pas de fermeture -> fermé #}
                            {% if ((time.morningStartAt|date('H:i') == '00:00' and time.afternoonStartAt|date('H:i') == '00:00' )
                                or (time.morningEndAt|date('H:i') == '00:00' and time.afternoonEndAt|date('H:i') == '00:00' )) %}
                                Fermé

                            {# si pas d'ouverture le matin -> après midi #}
                            {% elseif (time.morningStartAt|date('H:i') == '00:00') %}
                                {{ time.afternoonStartAt|date('H:i') }} - {{ time.afternoonEndAt|date('H:i') }}

                            {# si pas de fermeture l'après midi -> matin #}
                            {% elseif (time.afternoonEndAt|date('H:i') == '00:00') %}
                                {{ time.morningStartAt|date('H:i') }} - {{ time.morningEndAt|date('H:i') }}

                            {# si pas de fermeture le matin et pas d'ouverture l'après midi -> non stop #}
                            {% elseif (time.morningEndAt|date('H:i') == '00:00' and time.afternoonStartAt|date('H:i') == '00:00') %}
                                {{ time.morningStartAt|date('H:i') }} - {{ time.afternoonEndAt|date('H:i') }}

                            {# sinon toute la journée #}
                            {% else %}
                                {{ time.morningStartAt|date('H:i') }} - {{ time.morningEndAt|date('H:i') }} / {{ time.afternoonStartAt|date('H:i') }} - {{ time.afternoonEndAt|date('H:i') }}
                            {% endif %}
                        </span>
                    </div>
                    {% endfor %}
                {% else %}
                    Non renseignés
                {% endif %}
            </div>
            {% if shop.website %}
                <p><a href="{{ shop.website }}" target="_blank">{{ shop.website|replace({'http://': ' ', 'https://': " "}) }}</a></p>
            </dd>
            {% endif %}
            {% if shop.email %}
                <p>Email : {{ shop.email }}</p>
            {% endif %}
            {% if shop.phone %}
                <p>Tel : {{ shop.phone }}</p>
            {% endif %}
            <p>
                <b>Type de magasin</b>
                <br/>
                {% for type in shop.types %}
                    {{ type.name }}
                    {% if not loop.last %}
                    ,
                    {% endif %}
                {% endfor %}
            </p>
            {% if shop.description %}
                <p>
                    <b>Description</b>
                    <br/>
                    {{ shop.description|nl2br }}
                </p>
            {% endif %}
            <hr/>
        </div>
    </div>

    <div class="container mt-4">
        <p class="m-0"><b>Rechercher dans le magasin</b></p>
    </div>

    <div id="search-wrapper" class="container-fluid p-0" :class="filterShowing">
        <div class="container">
            <div class="form-search">
                {{ form_start(searchForm, {'attr': {'id': 'search-form', 'novalidate': ''}}) }}
                    <div class="row align-items-center">
                        <div class="col-10 col-md-6 col-lg-4">
                            <div class="input-group icon">
                                {{ form_widget(searchForm.search, {'attr': {'class': 'form-control', 'v-on:keyup.enter': 'search', 'placeholder': 'Rechercher un produit...'}}) }}
                                <div class="input-group-append d-md-none">
                                    <button class="btn btn-primary" type="button" @click.prevent="search"><i class="icon-search"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 d-none d-md-block">
                            <button class="btn btn-primary" v-on:click.prevent="search">Rechercher</button>
                        </div>
                        <div class="col-2 col-lg-4 text-right open-filter">
                            <a @click.prevent="filterShowing = (filterShowing == 'open')? '' : 'open'"
                                class="text-uppercase py-2 text-primary"
                                data-toggle="collapse"
                                href="#collapse-form"
                                role="button"
                                aria-expanded="false"
                                aria-controls="collapse-form">
                                <i class="icon-filter"></i><span class="d-none d-md-inline-block">&nbsp;&nbsp;Filtrer</span>
                            </a>
                        </div>
                    </div>
                    <div class="collapse mt-3" {#:class="{'show': isMobile()}"#} id="collapse-form">
                        <div class="form-group">
                            <label>Provenance</label>
                            <div class="form-search-origin">
                                {{ form_widget(searchForm.origin) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Labels</label>
                            <div class="d-flex flex-wrap">
                                {{ form_widget(searchForm.labels) }}
                            </div>
                        </div>
                        <div class="form-group form-search-collapse">
                            <label>Usages</label>
                            <div class="form-search-types-usages">
                                {{ form_widget(searchForm.usages) }}
                            </div>
                        </div>
                        <div class="form-group form-search-collapse">
                            <label>Catégories</label>
                            <div class="form-search-types-usages">
                                {{ form_widget(searchForm.types) }}
                            </div>
                        </div>
                        <div class="text-center d-block d-md-none mt-3">
                        <button class="btn btn-primary" v-on:click.prevent="search">Rechercher</button>
                        </div>
                    </div>
                {{ form_end(searchForm) }}
            </div>
        </div>
    </div>

    <div class="container" v-cloak>
        <p>${productShopList.length} produits dans ce magasin</p>
        <div class="product-list show-list" v-for="productList in productListCategorized">
            <a class="collapse-product" data-toggle="collapse" :href="'#collapse-' + productList[0].type.id" role="button" aria-expanded="false" :aria-controls="'collapse-' + productList[0].type.name">
                <h2 v-text="productList[0].type.name + ' ('+ productList.length +')'"></h2>
                <i class="icon-chevron-down"></i>
            </a>
            <div class="row collapse show" :id="'collapse-' + productList[0].type.id">
                {% include 'product/_partial/_product-item.html.twig' with {'shop': true} %}
            </div>
        </div>

        <div class="popup-product-list popup">
            <div v-for="(productList, indexCategorized) in productListCategorized">
                {% include 'product/_partial/_popup-product-item.html.twig' with {'shop': true} %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var datas = {
            productImagesPath: '{{ product_thumb_path }}',
            productShopList: {{ productShopList|raw }},
            orderedCategories: {{ orderedCategories|raw }},
            shopSlug: '{{ shop.slug }}'
        };
    </script>
    {{ parent() }}
{% endblock %}
