.footer {
    &-types {
        .separator-right {
            border-right: 1px solid $tertiary;

            @include media-breakpoint-down(lg) {
                border-right: 0;
                border-bottom: 1px solid $tertiary;
                padding-bottom: 1rem;
                margin-bottom: 1rem;
            }
        }

        h3 {
            @extend .mb-3;

            font-size: .85rem;
            font-weight: bold;
        }

        a {
            @extend .py-1;

            color: $tertiary;
            display: inline-block;

            &:hover {
                color: $secondary;
            }
        }
    }
    &-top {
        background-color: $tertiary;

        .nav-item {
            @extend .px-3;

            .nav-link {
                @extend .text-center, .text-white, .text-uppercase;

                font-weight: 900;

                &:hover {
                    @extend .text-secondary;
                }
            }

            &.active {
                .nav-link {
                    @extend .text-secondary;
                }
            }
        }
    }

    &-bottom {
        @extend .text-center, .text-white, .py-2;

        background-color: darken($tertiary, 5);
    }
}

