.form-control {
    &:focus {
        border-color: $primary;
        box-shadow: none;
    }
}

.input-group {
    &.icon {
        .form-control {
            @extend .pr-3;
        }

        .input-group-append {
            margin-left: -16px;
            z-index: 5;

            .btn {
                @extend .px-0;

                width: $input-height;
                border-bottom-left-radius: $border-radius;
                border-top-left-radius: $border-radius;
            }
        }
    }
}

.custom-checkbox {
    .custom-control-label {
        cursor: pointer;

        &::before {
            border-radius: .25rem;
        }
    }

    &.button-style {
        @extend .p-0;

        .custom-control-label {
            @extend .py-1, .px-3, .m-1;

            border: 1px solid $tertiary;
            border-radius: $border-radius;
            color: $tertiary;
            transition: $default-transition;

            &::before,
            &::after {
                display: none;
            }

            >i {
                @extend .pr-1;
            }

            &:hover {
                background: $grey-light;
                cursor: pointer;
            }
        }

        .custom-control-input:checked~.custom-control-label {
            background: $tertiary;
            color: $white;
        }
    }
}

textarea {
    &.form-control {
        border-radius: $border-radius / 4;
        min-height: 150px;
    }
}
