#header {
    @extend .shadow-sm;

    z-index: $zindex-sticky + 1;

    &-top {
        background: $primary;

        @include media-breakpoint-up(xl) {
            background: $white;
        }

        .logo {
            max-width: 50%;

            @include media-breakpoint-up(lg) {
                max-width: 200px;
            }

            &-icon {
                @extend .mr-2;

                width: 20%;
            }
        }

        .menu-search {
            color: $white;
            font-size: 1.6rem;
        }

        .menu-burger {
            .navbar-toggler {
                @extend .pl-4, .pr-0;

                color: $white;
                font-size: 2rem;
                outline: none;
            }
        }

        @import './sidebar';
    }
}
