html {
    font-size: 15px;
}

body {
    &.is-locked {
        overflow: hidden;
    }
}

[v-cloak] {
    opacity: 0;
    visibility: hidden;
    min-height: calc(100vh - (#{$menuHeightDesktop} + #{$filterHeightDesktop}));

    @include media-breakpoint-down(lg) {
        min-height: calc(100vh - #{$menuHeightMobile});
    }
}

@include media-breakpoint-down(lg) {
    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100vw;
        height: 100vh;
        opacity: 0;
        background-color: $black;
        transition: opacity .2s ease-in-out, z-index 0s ease .3s;
        display: none;

        &.show {
            z-index: 1022;
            opacity: .5;
            transition: opacity .2s ease-in-out, z-index 0s ease;
            display: block;
        }
    }
}

.hexagone-wrapper {
    @include hexagone;

    &[href] {
        @include hexagone('true');
    }
}
