#header-sidebar {
    @include media-breakpoint-down(lg) {
        position: fixed;
        height: 100vh;
        width: 100vw !important;
        top: 0;
        right: -100vw;
        z-index: 1;
        display: flex !important;
        justify-content: flex-end;
        visibility: hidden;
        transition: right .2s ease-in-out,
            visibility 0s ease .2s;
        overflow-y: auto;

        &.show {
            visibility: visible;
            right: 0;
            transition: right .2s ease-in-out;

            #overlay-nav {
                opacity: .7;
            }
        }

        .nav-wrapper {
            min-height: 100vh;
            width: 80vw !important;
            background-color: $tertiary;
            position: relative;
            z-index: 2;
            padding: 0 !important;
            margin: 0 !important;

            #close-nav {
                padding: 1rem;
                color: $white;
                font-size: 1.5rem;
                margin-bottom: 1rem;
            }
        }

        #overlay-nav {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100vw;
            height: 100vh;
            background-color: $black;
            opacity: 0;
            transition: opacity .2s ease-in-out;
        }

        .close-menu-burger {
            font-size: 1.25rem;
        }
    }

    #nav-sidebar {
        @include media-breakpoint-down(lg) {
            background-color: $tertiary;
        }

        .nav-item {
            @extend .px-xl-3;

            position: relative;

            @include media-breakpoint-down(lg) {
                display: block;
                width: 100%;
            }

            &:hover {
                .nav-submenu {
                    display: block;
                    height: auto;
                    opacity: 1;
                }
            }

            .nav-link {
                @extend .px-0, .py-4, .text-uppercase;

                color: $primary;
                position: relative;
                letter-spacing: 0.06rem;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 0px;
                    background-color: $primary;
                    transition: $default-transition;
                }

                &:hover, &.active {
                    &::after {
                        height: 5px;
                    }
                }

                @include media-breakpoint-down(lg) {
                    display: block;
                    padding: 1rem 1.5rem !important;
                    font-weight: bold;
                    border-top: 1px solid $grey;
                    color: $white;

                    &::after {
                        display: none;
                    }

                    &:hover,
                    &.active {
                        background: $white;
                        color: $tertiary;
                    }
                }
            }

            &.menu-login {
                @extend .px-0;

                .nav-link {
                    @extend .py-0,
                    .px-3,
                    .h-100,
                    .d-flex,
                    .align-items-center;

                    color: $tertiary;
                    font-size: .9rem;
                    text-transform: capitalize !important;
                    background-color: $grey-light;
                    letter-spacing: 0;

                    &::after {
                        display: none;
                    }

                    &:hover {
                        background-color: lighten($grey-light, 2);
                    }

                    i {
                        font-size: 1rem;
                        padding: .3rem;
                        margin-right: .5rem;
                        border: 1px solid $tertiary;
                        border-radius: $border-radius;
                    }

                    @include media-breakpoint-down(lg) {
                        color: $secondary;
                        background-color: transparent;
                        margin: 1rem;
                        border-radius: $border-radius;
                        border: 1px solid $primary;
                        font-size: 1rem;
                        justify-content: center;
                        text-transform: uppercase !important;

                        i {
                            border: 0;
                            margin-right: 0;
                        }
                    }
                }
            }

            &.menu-logout {
                @extend .px-0;

                .nav-link {
                    @extend .px-3;

                    @include media-breakpoint-down(lg) {
                        border: 0;
                        margin-top: 2rem;
                        text-align: right;
                    }
                }
            }

            .nav-submenu {
                position: absolute;
                width: 100%;
                top: 100%;
                left: 0;
                border: 1px solid $tertiary;
                background-color: $white;
                display: none;
                transition: $default-transition;

                @include media-breakpoint-down(lg) {
                    height: 0;
                    opacity: 0;
                    display: block;
                    position: relative;
                    top: 0;
                    border: 0;
                    background-color: darken($tertiary, 2);

                    &::after, &::before {
                        display: none;
                    }
                }

                li {
                    a {
                        @extend .px-5, .px-xl-3, .py-3, .py-xl-2, .d-block;

                        color: $tertiary;

                        @include media-breakpoint-down(lg) {
                            color: $white;
                            border-top: 1px solid $grey;
                        }

                        &:hover, &.active {
                            background-color: $tertiary;
                            color: $white;
                        }
                    }
                }

                &::after,
                &::before {
                    bottom: 100%;
                    left: 50%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                }

                &::after {
                    border-color: rgba(255, 255, 255, 0);
                    border-bottom-color: $white;
                    border-width: 10px;
                    margin-left: -10px;
                }

                &::before {
                    border-color: rgba(9, 60, 73, 0);
                    border-bottom-color: $tertiary;
                    border-width: 11px;
                    margin-left: -11px;
                }
            }
        }
    }
}
