h1,
.h1 {
    @include font-size(1.4rem);

    font-weight: 900;
    color: $tertiary;
}

h2,
.h2 {
    @include font-size(1.7rem);

    font-weight: 900;
    color: $tertiary;
}

h3,
.h3 {
    @include font-size(1.133rem);

    font-weight: 900;
    color: $tertiary;
}
