<div class="shop-item col-12 col-sm-6 col-md-6 col-lg-12 col-xl-6 my-3"
        v-for="shop in shopList"
        :data-shop="shop.id"
        @mouseover="mouseOverOnListItem(shop)"
        @click.prevent="linkShop(shop.slug)">
    <div class="card">
        <div class="card-body">
            <h5 class="card-body-title">
                ${shop.name|truncate(50)}
                <small v-if="shop.distance != null" v-text="'('+shop.distance+'m)'"></small>
                <small class="d-block mt-1" v-for="type in shop.types" v-text="type.name"></small>
            </h5>
            <div class="d-flex align-self-end w-100 pt-1">
                <i class="icon-marker p-1"></i>
                <span class="px-1" v-text="shop.address.address"></span>
            </div>
        </div>
    </div>
    <div class="shop-item-btn">
        <a class="btn btn-primary circle-icon" href="#"><i class="icon-more"></i></a>
    </div>
</div>
