{%- block check_button_type_widget -%}

    {% set typeInput = 'radio' %}
    {% if form.vars.multiple %}
        {% set typeInput = 'checkbox' %}
    {% endif %}

    {% for type in form.children %}
        <div class="custom-control custom-checkbox {% for attrname, attrvalue in attr -%}{% if attrname == 'class' %}{{ attrvalue }}{% endif %}{%- endfor %}">
            <input
                type="{{ typeInput }}"
                id="{{ type.vars.id }}"
                {% if type.vars.checked %}checked{% endif %}
                autocomplete="off"
                name="{{ type.vars.full_name }}"
                value="{{ type.vars.value }}"
                {% if type.vars.required and loop.first %}required{% endif %}
                {% for attrname, attrvalue in attr -%}
                    {% if attrname != 'class' %}
                        {{ attrname }}="{{ attrvalue }}"
                    {% endif %}
                {%- endfor %}
                class="custom-control-input"
                />

            <label class="custom-control-label" for="{{ type.vars.id }}">
                <i class="{% for attrname, attrvalue in type.vars.attr -%}{% if attrname == 'icon' %}{{ attrvalue }}{% endif %}{%- endfor %}"></i>
                {{ type.vars.label }}
            </label>
        </div>
    {% endfor %}

{%- endblock check_button_type_widget -%}
