
{%- block image_selector_widget -%}
    <!--partie BO-->
    {% if '/admin/' in app.request.uri %}
    <style> .product_img { margin: 5px; padding: 5px; border: 3px solid white;} .selected { border: 3px solid red; }</style>
    <div class="row">
        <div class="col-md-4">

            <select {{ block('widget_attributes') }} {% if form.vars.required %}required{% endif %}onchange="selectChange(this)">
                {% if not form.vars.required %}<option value=""{% if form.vars.required and form.vars.value is empty %} selected="selected"{% endif %}>{% endif %}
                {% set options = form.vars.choices %}
                {{ block('choice_widget_options') }}
            </select>
        </div>
        <div class="col-md-8">
            <div class="row" style="height: 300px; overflow: scroll;">
                {% for image in form.vars.choices %}
                    <div class="col-md-3">
                        <div class="product_img {% if image.data.id == form.vars.value %}selected{% endif %}"  id="product_img_{{ image.data.id }}">
                            <a onclick="selectImg({{ image.data.id }})">
                                <img src="{{ product_thumb_path ~"/"~image.data.imageName }}" class="img-responsive" />
                                <p class="text-center">{{ image.data.name }}</p>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script>
        function selectChange(elem) {
            //console.log(elem)
            $(".product_img").removeClass('selected');
            $("#product_img_"+elem.value).addClass('selected');
        }
        function selectImg(id) {
            $(".product_img").removeClass('selected');
            $("#product_img_"+id).addClass('selected');
            $('#{{ form.vars.id }}').val(id);
            $('#{{ form.vars.id }}').trigger('change');
        }
        $( document ).ready(function() {
            var item_id = $('#{{ form.vars.id }}').parent().find(".select2-input").attr('id');
            selectedType = $("#s304e641158_type").val();
            selectedText = $("#"+item_id).val();

            $("#"+item_id).on("keyup", function(e) {
                selectedText = $("#"+item_id).val();
                filter();
            });

            $(".select-type").on("change", function(e) {
                selectedType = e.val;
                filter();
            });

            filter();
        });

        function filter() {
            for (var i = 0; i < images.length; i++) {
                if (images[i].productTypeId != selectedType){
                    images[i].visible = false;
                } else {
                    images[i].visible = true;
                }
                if (selectedText != "") {
                    if (images[i].name.toLowerCase().includes(selectedText.toLowerCase())) {
                        images[i].visible = true;
                    } else {
                        images[i].visible = false;
                    }
                }
            }
            drawImage();
        }

        function drawImage() {
            for (var i = 0; i < images.length; i++) {
                if (images[i].visible) {
                    $("#product_img_"+images[i].id)[0].style.display = "block";
                } else {
                    $("#product_img_"+images[i].id)[0].style.display = "none";
                }
            }
        }

        var selectedType = null;
        var selectedText = null;
        var images = [];
        {% for image in form.vars.choices %}
            var image = new Object();
            image.id = "{{ image.data.id }}";
            image.name = "{{ image.data.name }}";
            image.productTypeId = {{ image.data.productType.id }};
            image.visible = true;
            images.push(image);
        {% endfor %}
        //console.log(images)

    </script>
    {% else %}
        <!-- partie front, doit contenir un fichier vuejs et une variable popupImageShowing-->
        <div id="image-product">
            <div class="image-product-selected mr-3" :style="[{'background-image': 'url(' + imageProduct(selectedImage) + ')'}]" >
            </div>
            <a class="btn btn-primary" @click.prevent="openClosePopup()" href="#">Choisir une photo</a>
            <select {{ block('widget_attributes') }} {% if form.vars.required %}required{% endif %} v-model="selectedImageId" style="display:none">
                {% if not form.vars.required %}<option value=""{% if form.vars.required and form.vars.value is empty %} selected="selected"{% endif %} >{% endif %}
                {% set options = form.vars.choices %}
                {{ block('choice_widget_options') }}
            </select>
        </div>
        <div class="popup-image" :class="popupImageShowing ? 'show' : '' ">
            <div class="popup-image-overlay"  @click.prevent="openClosePopup()"></div>
            <div class="popup-image-wrapper d-flex flex-column">
                <div class="popup-image-header p-3 py-lg-3 px-lg-2">
                    <div class="popup-image-header-title d-flex">
                        <h5>Rechercher une photo dans la catégorie: <br />${ selectedCategoryName }</h5>
                        <a class="ml-auto pl-2" href="#" @click.prevent="openClosePopup()"><i class="icon-close"></i></a>
                    </div>
                </div>
                <div class="popup-image-body px-3 px-lg-2 py-lg-3">
                    <input type="text" id="images-search" placeholder="Thé vert, Thé noir, ..." class="form-control sticky-top" v-model="searchImage" />
                    <div class="row">
                        <div class="col-6 px-1">
                            <div class="popup-image-body-img" :style="[{'background-image': 'url(' + selectedCategoryIcon + ')'}]" @click="selectImage(null)" :class="[(selectedImageId == null) ? 'selected' : '']"></div>
                        </div>
                        <div class="col-6 px-1" v-for="image in productFilteredImages">
                            <div class="popup-image-body-img" :style="[{'background-image': 'url(' + imageProduct(image) + ')'}]" @click="selectImage(image)" :class="[(selectedImageId == image.id) ? 'selected' : '']">
                                <div>${ image.name }</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{%- endblock image_selector_widget -%}
