{%- block location_widget -%}
    {#{{ block('form_widget_simple') }}#}
    <div id="my_map" style="width:50%; height: 300px"></div>
    <a class="btn btn-warning" onclick="geocoder()">Geocoder</a>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>
    
    <script>
        var my_map = null;
        var my_marker = null;
        function geocoder() {
            var address = $('.address').val();
            if (address != null && address != '') {
                $.getJSON('https://api-adresse.data.gouv.fr/search/?q=' + address + '=1', function(data) {
                    $('.lng').val(data.features[0].geometry.coordinates[0]);
                    $('.lat').val(data.features[0].geometry.coordinates[1]);
                    if (my_marker != null) {
                        my_map.removeLayer(my_marker);
                    }
                    my_marker = L.marker([data.features[0].geometry.coordinates[1], data.features[0].geometry.coordinates[0]]).addTo(my_map);
                });
            }
        }
        
        window.addEventListener('DOMContentLoaded', () => {
            my_map = L.map('my_map').setView([45.776265, 4.832228], 13);
            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(my_map);
            var lng = $('.lng').val();
            var lat = $('.lat').val();
            if (lng != '' && lat != '') {
                my_marker = L.marker([lat, lng]).addTo(my_map);
            }
        });
    </script>
{%- endblock location_widget -%}