{% extends 'base.html.twig' %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center">Accès restreint</h1>
        <p class="text-center"><a href="{{ path('homepage') }}">Retour à la page principale</a></p>
    </div>
{% endblock %}
